.detail-title{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 7px 0;
  color: #000000;
}
.detail-video-outer {
  
  img{
    width: 100%;
  }
}
.detail .tool-bar{
  border-bottom: none!important;
}
.detail-comment{
  margin:0 -15px;
  padding:0  15px 15px 15px;
}
.detail .slide-tags-item{
  font-size: 12px;
  a{
    color: $black;
    line-height: 30px;
  }
}
.modal .detail-comment{
  box-shadow: 0 4px 4px rgba(180, 180, 180, 0.25);
  border-radius: 0 0 30px 30px;
  .form-group{
    margin-bottom: 7px;
    position: relative;
  }
}
//detail- holder
.detail.detail-holder{
  .author_1{
    strong{
      width: 73px;
      height: 12px;
      background: #EBEBEB;
    }
  }
  .author_1 > a:nth-child(2) {
    background: #EBEBEB;
    width: 33px;
    height: 3px;
    display: inline-block;
  }
  .detail-comment .comment-avatar{
    background: #EBEBEB;
  }
  .detail-image-outer{
    height: 283px;
    background: #EBEBEB;
  }
  .bar{
    span{
      display: inline-block;
      height: 8px;
      width: 70px;
      background: #EBEBEB;
    }
  }
  .tool-bar{
    li{
      display: inline-block;
      height: 8px;
      width: 70px;
      background: #EBEBEB;
    }
  }
}
.detail-author{
  background: url("../img/user/stationery 2.png") left top/13px 13px no-repeat;
  padding-left: 20px;
  color: $black;
  font-weight: 700;
  margin-right: 8px;
  font-size: 12px;
  line-height: 16px;
}
.detail .slider-nav{
  .detail-thumb{
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    height: 100%;
    margin-left: 5px;
    &:after{
      position: absolute;
      content: "";
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #000000;
      left: 50%;
      bottom: -7px;
      z-index: 9;
      margin-left: -5px;
    }
  }
}

.media-content {
  margin: 0 -15px;
}

.tt-vplayer-content {
 
}

.detail-multi-image {
  margin: 0 -15px;
}
.image-comic{
  margin: 0 -15px;
}
.article--image{
  margin: 0 -15px;
  margin-bottom: 20px;
}
.detail-video-inTag{
  margin: 0 -15px 15px -15px;
  display: flex;
  .art-video-tag{
    flex: 0 0 32%;
    &:not(:last-child){
      margin-right: 2%;
    }
  }
}
.detail-image-outer figure { margin-left: -15px; margin-right: -15px; margin-bottom: 20px;}
.detail-image-outer figure figcaption { font-size: 13px; padding: 5px 15px; font-style: italic; color: #666;}

.article--image .show-commentImage  { padding-bottom: 0!important;}
.article--image .show-commentImage  img { width: 100%;}
.article--image .bar { padding-left: 15px; padding-right: 15px;}
.detail{font-size: 15px;}