/*footer*/
.footer { border-top: 5px solid #ED1C24; font-size: 12px; color: $black;padding-bottom: 60px}
.list-logo { list-style: none; padding: 0; padding: 10px 0; border-bottom: solid 1px #f4dfde; }
.list-logo img {height: 26px;}
.list-logo li { display: inline-block;}
.logo-footer { display: block; width: 133px; margin: 10px auto;}
.footer dl dd a { color: $black;}
.footer dl dd a i { margin-bottom: 1px; margin-right: 3px;}
.btn-price-ads { margin-bottom: 5px; box-shadow: 2px 2px 5px #aaa; height: 24px; line-height: 24px; padding: 0 20px; font-weight: bold; color: $white; background: linear-gradient(180deg, #DC0A09 0%, #A70409 100%); border-radius: 12px; display: inline-block;}
.footer .list-social { margin-bottom: 15px; border-bottom:  1px dashed #C1C1C1;; margin-top: 0px; list-style: none; padding: 5px 10px;  text-align: center;   }
.footer .list-social li { display: inline-block; margin: 0 10px; height: 38px; line-height: 36px;}
/*bottom-bar*/
.bottom-bar {position: fixed; bottom: 0;left: 0;width: 100%;background: $white;padding: 15px; display: flex; z-index: 9999;box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);}
.btn-news { margin-right: 8%; font-weight: bold; text-transform: uppercase; height: 30px; line-height: 30px; padding-right: 15px; padding-left: 15px; border-radius: 15px; background: #F1F1F1; color: $black; font-size: 12px; display: inline-block; }
.btn-news i { display: inline-block; vertical-align: middle; margin-left: 5px; margin-bottom: 5px;}
.btn-mail { font-weight: bold; text-transform: uppercase; height: 30px; line-height: 30px; padding-right: 10px; padding-left: 10px; border-radius: 15px; background: #fdbe21; color: $black; font-size: 12px; display: inline-block;}
.btn-mail i { margin-bottom: 3px; margin-right: 3px;}
.btn-menu { margin-left: auto; height: 30px; width: 24px; display: inline-block; position: relative; overflow: hidden; text-indent: -999px;}
.btn-menu:before { transition: all .3s ease;  position: absolute;top: 20px; right: 0; display: block; height: 2px; width: 17px; background: $black; content: ''; }
.btn-menu:after {   transition: all .3s ease;  position: absolute;  top: 6px; right: 0; display: block; height: 9px; width: 24px; border-top: 2px solid $black; border-bottom: 2px solid $black; content: '';}
.name-ttc { text-align: center; padding-top: 10px; font-size: 20px; text-transform: uppercase; color: #000; font-weight: 700;}