
a{color: #A40000}
/*icon*/
.icon { display: inline-block; vertical-align: middle;  background-position: center; background-size: contain; background-repeat: no-repeat;}
.icon-back { width: 21px; height: 21px; background-image: url(../img/icon/icon-back.svg);}
.icon-clock { margin-top: -2px; width: 12px; height: 12px; background-image: url(../img/icon/icon-clock.svg);}
.icon-close-popup { width: 41px; height: 41px; background-image: url(../img/icon/icon-close-popup.svg);}
.icon-comment { width: 12px; height: 12px; background-image: url(../img/icon/icon-comment.svg);}
.icon-envelope { width: 14.61px; height: 15px; background-image: url(../img/icon/icon-envelope.svg);}
.icon-facebook { width: 20px; height: 20px; background-image: url(../img/icon/icon-facebook.svg);}
.icon-heart-s { width: 14px; height: 14px; background-image: url(../img/icon/icon-heart-s.svg);}
.icon-hot { width: 14px; height: 14px; background-image: url(../img/icon/icon-hot.svg);}
.icon-img { width: 40px; height: 40px; background-image: url(../img/icon/icon-img.svg);}
.icon-instagram { width: 20px; height: 20px; background-image: url(../img/icon/icon-instagram.svg);}
.icon-laught { width: 32px; height: 32px; background-image: url(../img/icon/icon-laught.svg);}
.icon-like { width: 12px; height: 12px; background-image: url(../img/icon/icon-like.svg);}
.icon-menu { width: 24px; height: 24px; background-image: url(../img/icon/icon-menu.svg);}
.icon-search { width: 25px; height: 25px; background-image: url(../img/icon/icon-search.png);}
.icon-sendnews  { width: 22px; height: 22px; background-image: url(../img/icon/icon-sendnews.svg);}
.icon-share { width: 12px; height: 12px; background-image: url(../img/icon/icon-share.svg);}
.icon-suggest { width: 15px; height: 15px; background-image: url(../img/icon/icon-suggest.svg);}
.icon-telephone { width: 14.61px; height: 15px; background-image: url(../img/icon/icon-telephone.svg);}
.icon-trend { width: 18px; height: 12px; background-image: url(../img/icon/icon-trend.png);}
.icon-ttct { width: 59.94px; height: 20px; background-image: url(../img/icon/icon-ttct.svg);}
.icon-tto { width: 59.94px; height: 20px; background-image: url(../img/icon/icon-tto.svg);}
.icon-tttivi { width: 59.94px; height: 20px; background-image: url(../img/icon/icon-tttivi.svg);}
.icon-video { width: 40px; height: 40px; background-image: url(../img/icon/icon-video.svg);}
.icon-s { width: 20px; height: 20px;}
.icon-youtube { width: 20px; height: 20px; background-image: url(../img/icon/icon-youtube.svg);}
.icon-mail { width: 22px; height: 22px; background-image: url(../img/icon/icon-mail.svg);}
.icon-play {  width: 80px; height: 80px; background-image: url(../img/icon/icon-play.svg);}
.icon-home{width: 42px ;height:42px ;background-image: url("../img/icon/icon-home.svg")}
.icon-binhluan-d {
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/icon-comment.png);
}
.icon-telephone-s { 
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/icon-telephone-s.png);
}

.icon-play-1 { width: 30px ;height:30px ;background-image: url("../img/icon/icon-play-1.png")}

.icon-zalo { width: 20px; height: 20px; background-image: url(../img/icon/icon-zalo.svg); }

.icon-photo { width: 18px ;height:18px ;background-image: url("../img/icon/icon-photo.png") }
.icon-mayquay { width: 18px ;height:18px ;background-image: url("../img/icon/icon-camera.png") }

/*title-icon*/
.title-video { width: 94.31px; height: 40px; background-image: url(../img/icon-title/title-video.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat;}
.title-biemhoa { width: 122.93px; height: 40px; background-image: url(../img/icon-title/title-biemhoa.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }
.title-tintuccuoi { width: 148.37px; height: 40px; background-image: url(../img/icon-title/title-tintuccuoi.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }
.title-doicuoi { width: 125.74px; height: 40px; background-image: url(../img/icon-title/title-doicuoi.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }
.title-gioitre { width: 125.74px; height: 40px; background-image: url(../img/icon-title/title-gioitre.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }
.title-truyentranh { width: 194.39px; height: 40px; background-image: url(../img/icon-title/title-truyentranh.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }
.title-giaitri { width: 117.78px; height: 40px; background-image: url(../img/icon-title/title-giaitri.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }
.title-thethao { width: 117.78px; height: 40px; background-image: url(../img/icon-title/title-thethao.svg); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; }

.section-slider { overflow: hidden;}


.container { padding-left: 7.5px; padding-right: 7.5px;}
/*title*/
.title,.title-cat,.title-list , .title-detail { padding: 12px 0; }
.title span,title-cat span, .title-list span ,.title-detail span { display: inline-block; overflow: hidden; text-indent: -9999px; }
.title img{
  height: 60px; max-width: 100%;
}
.title-cat img{
  height: 50px;
}
.title-list img{
  height: 30px;
}
.title-detail img{
  height: 35px;
}

.title-2{
  padding: 12px 0;
  position: relative;
}
.title-2:before{
  content: "";
  left: 40px;
  right: 15px;
  position: absolute;
  height: 1px;
  background: $black;
  top: 30px;
}
.title-2 h3{
  position: relative;
  background: $white;
  display: inline-block;
  padding-right:5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
/*button*/
.btn-search { background: none; padding: 0; border: 0; width: 50px; height: 50px; text-align: right; }

.img-68x100 { padding-bottom: 68%; }
.img-180x125 { padding-bottom: 144%; }
.img-1x1 { padding-bottom: 100%; }
.img-144x90{padding-bottom: 68%;border-radius:5px ;background-size: cover}

.title-border-b { border-bottom: 1px solid #E9E8E8; }
.border-1 { display: block; border-bottom: 3px solid #aeaeae;}
.border-1-light { display: block; border-bottom: 1px solid #aeaeae;}
.border-2 { display: block;  border-bottom: 1px dashed #aeaeae; }
.border-b { border-bottom: 1px solid #aeaeae; display: block;} 
.border-s { border-bottom: 1px dashed #878787; display: block;} 
.border-red { border-bottom: 3px solid #ed1c24; display: block; border-radius: 1.5px;} 

/*reset css*/
* { outline: none!important; }
img { max-width: 100%; display: inline-block;}
body { font-family: 'Roboto'; font-size: 14px; overflow-x: hidden; background: #eee;}
.d-flex { display: flex; }
.mt-2 { margin-top: 20px;}
.mb-2 { margin-bottom: 20px;}
.section-bgd { background: #f4f4f4;  }
.category{
  font-weight: 700;
}
/*list-tool*/
.list-tool {  padding-left: 0; margin-bottom: 0;  list-style: none; text-align: center;box-shadow: 0px 3px 7px rgba(209, 209, 209, 0.25);}
.list-tool li {  display: inline-block; }
.list-tool li a {  padding: 12px 16px; color: $black;  text-transform: uppercase; font-weight: bold; font-size: 12px; display: block;}
.list-tool li a i {  margin-top: -5px; margin-right: 1px; }

/*thumb*/
.outer-thumb { position: relative;}
.thumb,.thumbs  { display: block; position: relative; }
.thumb .icon, .thumbs .icon { position: absolute; right: 15px; top: 15px; }
.thumb > img { width: 100%;   }
.thumbs > img { width: 100%; }

.outer-thumb .icon-play-1 { position: absolute; right: 25px; bottom: 10px;}
/*art-full*/
.art-full .thumb, .art-full .thumbs { display: block;  margin-left: -7.5px; margin-right: -7.5px; }
.art-full .time{margin-bottom: 7px;}
/*art-1*/
.art-1 h2 , .art-1 h1 { font-size: 30px; line-height: 34px; font-weight: bold; margin: 5px 0 15px 0; margin-bottom: 0; border-bottom: none;}
.art-1 h2 a, .art-1 h1 a, .art-1 h3 a { color: $black; }
.art-1 h2 a:hover, .art-1 h1 a:hover, .art-1 h3 a:hover  { color: $red; text-decoration: none;}
.art-1 .thumb > img { border-radius: 5px;}

.art-1 h3 { font-size: 25px; line-height: 29px; font-weight: bold; margin: 5px 0 10px 0;  border-bottom: none;}


/*bar*/
.bar {    border-bottom: solid 1px #e9e8e8; list-style: none; padding: 10px 0; margin: 0; display: flex;  font-size: 12px; }
.bar li { display: inline-block; }
.bar li.bar-comment a { color: #878787; margin-left: 20px; }
.bar li.bar-comment a:first-child { margin-left: 0; }
.bar li.bar-love { width: 100px;  }
.bar li.bar-love a { color: #878787; }

.none-border { border: none!important;}


.bar.d-flex .bar-comment { margin-left: auto; }
.art-full .bar { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px;}

/*fix tam thời*/
.page-section > .container > .art-1.art-full:first-child .bar { display: none;}

/*art-slide*/
.art-slide { margin-right: 15px;}
.art-slide .category { font-size: 10px; color: $gray; text-transform: uppercase; margin-top: 8px; display: block;}
.art-slide h4 { margin-top: 8px; margin-bottom: 16px; font-size: 16px; font-weight: bold; }
.art-slide h4 a { color: $black; }
.art-slide h4 a:hover, .art-slide .category:hover  { color: $red; text-decoration: none;}


.art-slide h2 { margin-top: 8px; margin-bottom: 16px; font-size: 15px; font-weight: 500; line-height: 17px;}
.art-slide h2 a { color: #fff;}
.art-slide h2 a:hover  { color: red; text-decoration: none;}


.link-cate {
  overflow: hidden;
  padding: 10px 5px;
  background: #fff;
  display: block;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.link-cate img {
  margin-top: -4px;
  display: inline-block !important;
  width: 22px !important;
  margin-right: 3px;
  vertical-align: middle;
}
.link-cate i {
  float: right;
  margin-top: -4px;
}

.art-slide .time{
  padding-top:5px;
}
.art-slide .outer-thumb { border-radius: 5px 5px 0px 0px; overflow: hidden;}

/*art-video*/
.art-video { position: relative; }
.art-video:after { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 11.69%, rgba(0, 0, 0, 0) 75.12%); content: ""; }
.art-video .des { position: absolute; width: 100%; left: 0; bottom: 0; z-index: 2; padding: 35px 20px;}
.art-video .des .category { color: $white; font-size: 10px; text-transform: uppercase; }
.art-video .des h4 { font-size: 18px; color: $white; margin-bottom: 0;  }
.art-video .des h4 a { color: $white; }
.art-video .des h4:hover a { color: $red; text-decoration: none;}
.art-video .icon-play { position: absolute; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; z-index: 9;}
.art-video:hover .icon-play { opacity: 0.8;}

/*art-video-nav*/
.art-video-nav {  position: relative; cursor: pointer; margin-right: 5px; margin-left: 5px; }
.art-video-nav  img { border-radius: 5px; }
.art-video-nav:after { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(225,225,225,0.3); content: ""; }

/*art-news-nav*/
.art-news-nav {  position: relative; cursor: pointer; margin-right: 5px; margin-left: 5px; }
.art-news-nav:after { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(225,225,225,0.3); content: ""; }

/*art-3*/
.time { display: block; color: #C0C0C0; font-size: 12px;}
.time i { margin-bottom: 3px; margin-right: 5px;}
.author { position: absolute; left: 0; bottom: -15px; border-radius: 50%; display: block; overflow: hidden; width: 40px; height: 40px;}
.tool-bar { display: flex; padding: 12px 0; list-style: none; margin: 0;  border-bottom: 3px solid #aeaeae; }
.tool-bar li { max-width: 33.3333%; width: 100%; text-align: center; }
.tool-bar li a { color: $black; font-size: 12px;font-weight: 700; }
.tool-bar li a i { margin-right: 5px; }
.tool-bar.tool-full { margin-left: -15px; margin-right: -15px;  }
.art-3 .thumbs {  }
.art-3 h3 { font-size: 20px; }
.art-3 h3 a { color: $black; font-weight: bold; }
.tool-bar.tool-bar-border  { padding-top: 10px; padding-bottom: 7px;  box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom: 0; }
.section-bgd .art-3 .thumbs { margin-bottom: 0;}
.art-3.art-full .tool-bar.tool-full { padding-top: 15px;  }
.section-bgd .art-3.art-full .tool-bar.tool-bar-border { box-shadow:none; border-bottom-left-radius: 0; border-bottom-right-radius: 0; padding-bottom: 10px;}
/*art-4*/
.author_1 { display: block; font-size: 12px; color: $gray; position: relative; margin-bottom: 15px; }
.author_1 > a.img-author { width: 40px; height: 40px;  overflow: hidden; }
.author_1 > a.img-author img { display: inline-block; width: 40px; height: 40px;border-radius: 50%; margin-right: 10px; background: #EBEBEB }

.author_1 strong { display: inline-block; vertical-align: top; font-size: 18px; font-weight: bold; color: #000; line-height: 1.3; }
.author_1 > a:nth-child(2) { position: absolute; left: 50px; top: 25px; color: #A2A2A2;}
.author_1 > a:nth-child(2):hover { color: $red; text-decoration: none;}
/*art-4*/
.art-4 {  }
.art-4 h3 { font-size: 18px; font-weight: bold; margin-bottom: 4px; }
.art-4 h3 a { color: $black; }
.art-4 .time { margin-bottom: 10px; }

/*art-right*/
.art-right { display: flex; padding: 12px 0; border-top: 1px solid #CECECE; margin-right: 25px; }
.art-right .thumb { width: 90px; margin-left: 30px;  }
.art-right .des { width: 1px; flex-grow: 1;}
.art-right .des h4 { font-size: 15px; font-weight: 500; margin-bottom: 5px;}
.art-right .des h4 a { color: $black;}
.art-right .des h4 a:hover { color: $red;}
.art-right .thumb .icon{
  top: 5px;
  right: 5px;
}

  /*outer-time*/
.outer-time { display: flex; margin-bottom: 10px; margin-top: 12px;}
.outer-time .category { font-size: 10px; color: #B0B0B0; margin-right: 10px; text-transform: uppercase; }

/*art-left*/
.art-left { display: flex; padding: 12px 0; border-top: dashed 1px #878787; }
.art-left .thumb { width: 150px; margin-right: 15px;  }
.art-left .thumb img { border-radius: 5px;}
.art-left .des { width: 1px; flex-grow: 1;}
.art-left .des h4 { font-size: 20px; line-height: 24px; font-weight: bold; }
.art-left .des h4 a { color: $black;}
.art-left .des h4 a:hover { color: $red;}


.art-left .outer-thumb-b .thumb { width: 200px;}










.list-art { padding-bottom: 16px;}
.list-art .art-left:first-child { padding-top: 0; border: 0; }
.seri-tag { font-size: 11px; color: #fff; display: inline-block; padding: 0 10px; height: 20px; line-height: 20px; border-radius: 10px; background: $dark_red; }

.art-video-cat .thumb .icon-play{
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  margin-top: -40px;
}
.art-video-cat .thumb{
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}
.art-holder{
  .author_1{
    img{
      background: #ebebeb;
    }
    strong{
      background: #f2f2f2;
      height: 12px;
      width: 66px;
    }
    span{
      display: inline-block;
      width: 66px;
      height: 5px;
      background: #f2f2f2;
      position: absolute;
      left: 53px;
      top: 22px;
      color: #A2A2A2;
    }
  }
  .tool-bar{
    display: flex;
    justify-content: space-around;
    li{
     background:  #F2F2F2;
      width: 66px;
      height: 6px;
    }
  }
  .outer-thumb{
    height: 225px;
    background: #f1f1f1;
  }
  .bar{
    justify-content: flex-end;
    li{
      margin: 0 10px;
      background:  #F2F2F2;
      width: 66px;
      height: 6px;
      &:first-child{
        margin-right: auto ;
      }
    }
  }
  h3{
    height: 9px;
    background: #f2f2f2;
  }
  .time{
    background:  #F2F2F2;
    width: 66px;
    height: 4px;
  }
  &.art-3{
    h3{
      margin-bottom: 4px;
    }
    .time{
      margin-top: 5px;
      margin-bottom: 7px;
    }
    .outer-thumb{
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
.art-left-1 .thumb{
  width: 144px;
}
.art-left-1 {
  padding: 7px 0;
  &:not(:last-child){
    border-top: none!important;
    border-bottom: dashed 1px #a8a8a8;
  }
  .bar{
    font-size: 11px;
    line-height: 13px;
    li {
      padding-right: 10px;
      a{
        color: #717171;
      }
    }
  }
}
.art-left-1 .category{
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #C5C5C5!important;
}
.btn-readMore,.btn-readMore2{
  width: 100%;
  border: none;
  color: $white;
  padding: 5px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom:15px;
  background-color: $dark_red;
}
.art__thumb-3{
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2,127px);
  grid-gap: 4px;
  &.art__thumb-slide{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    grid-template-rows: repeat(2,1fr);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    grid-gap: 2px;
  }
  .art__thumb-item{
    display: block;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    position: relative;
    &:first-child:nth-last-child(1) {
      grid-column:  span 2;
      grid-row:span 2;
    }
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ .art__thumb-item{
      grid-column:  span 2;
      grid-row:span 1;
    }
    &:first-child:nth-last-child(2) ~ .art__thumb-item{
      img{
        max-height: 200px;
      }
    }
    &:first-child:nth-last-child(3){
      grid-row:span 2;
    }
    &:first-child:nth-last-child(3)~.art__thumb-item{
      grid-column:  span 1;
      grid-row:span 1;
    }
    &:first-child:nth-last-child(3) ~ .art__thumb-item{
      img{
        max-height: 200px;
      }
    }
    &:nth-child(3)>span{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      font-weight: 500;
      font-size: 27px;
      line-height: 100%;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center
    }
    &:nth-child(n + 4){
      display: none;
    }
  }
}
.wrapper-comment{
  margin-bottom: 0;
}

.alt-right { margin-left: auto;}

.outer-likeface { text-align: center; margin: 10px 0;}
.outer-likeface span { display: inline-block;}
.txtarea-comment {     background: #F5F5F5;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  min-height: 40px;
  height: 40px;
  padding: 9px 15px;
  font-size: 14px;
  -webkit-transition: .2s; position: relative;
  transition: .2s;
  resize: none; }

  .txtarea-comment .btn-sticker {
    cursor: pointer;
   position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../img/icon/smile_1.png) no-repeat center/30px 30px;
}

.footer .list-logo { text-align: center; margin-bottom: 0; border-bottom: 0; padding-bottom: 0; padding-top: 0;}
.bottom-footer { margin-top: 10px; background: rgba(0, 0, 0, 0.16); text-align: center;}
.bottom-footer address { margin-bottom: 0; border-bottom: 1px solid #fff; padding: 15px; margin-left: -15px; margin-right: -15px; color: #4B4A4A; font-size: 15px; font-weight: 700;}
.bottom-footer p { padding: 15px; margin-bottom: 0; color: #535353; font-size: 12px;}


.art-4 .slide-tags .slide-tags-item, .art-3 .slide-tags .slide-tags-item { font-size: 12px;} 
.art-4 .slide-tags .slide-tags-item a, .art-3 .slide-tags .slide-tags-item a {     color: #000000; line-height: 30px; }

.border-radius { padding-bottom: 15px;
  -webkit-box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25);
  box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0; display: block;}
  .comment--term > a { position: relative; display: block;}
  .comment--term > a i { position: absolute; right: 15px; top: 15px;}
  .outer-border { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; margin-top: 10px; border-bottom: 1px dashed #ddd; border-top: 1px dashed #ddd; }
  .outer-border .slide-tags { margin-bottom: 0; border-bottom: 0; }
  .outer-border .outer-likeface { margin-top: 5px; margin-bottom: 5px;}
  .link-category { font-size: 14px; font-weight: 500; color: #fff!important; padding: 0 20px; position: absolute; left: 10px; top: 10px; height: 25px; line-height: 25px; background: #8D0101; border-radius: 12px;}




  .art-4.full-bottom .border-radius,   .art-3.full-bottom .border-radius { margin-left: -15px; margin-right: -15px; } 

  .art-4 .wrapper-comment,   .art-4 .txtarea-comment ,  .art-3 .wrapper-comment,   .art-3 .txtarea-comment { margin-left: 10px; margin-right: 10px;}
  .art-4.full-bottom .wrapper-comment,   .art-4.full-bottom .txtarea-comment ,  .art-3.full-bottom .wrapper-comment,   .art-3.full-bottom .txtarea-comment { margin-left: 0; margin-right: 0;}
  .border-radius.full-bottom { margin-left: -15px; margin-right: -15px;}

  .modal .detail-comment { margin: 0; box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;}
    .slide-tags-item img { object-fit: cover;}


    .list-logo-1 { display: inline-block; list-style: none; padding: 0; margin-top: 17px; margin-left: 15px;margin-bottom: 0;}
    .list-logo-1 li { display: inline-block; padding: 0 3px;}
    .list-logo-1 li img { display: block; height: 18px; padding: 3px 5px; background: #f1f1f1; border-radius: 9px;}

    .art-slide .des {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background: black;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
.outer-cm { margin: 8px 0; display: block; color: #B20505; font-size: 10px; font-weight: bold;}
.outer-cm i { margin-right: 5px;}

.art-left .outer-cm { margin-top: 0;}
.txt-light { font-size: 15px; margin-top: 15px;
  line-height: 19px;
  color: #878787; }

  .list-involve { list-style: none; padding: 0;}
  .list-involve li { padding: 10px 0 10px 0; border-top: 1px dashed #878787; font-weight: bold; margin-left: 25px;
    font-size: 15px;
    line-height: 17px; position: relative;}
    .list-involve li:after { position: absolute; left: -25px; top: 10px; content: ""; height: 15px; width: 15px; border-radius: 50%; background: #B20505;}
  .list-involve li:first-child { border-top: 0;}
  .list-involve li a { color: #000;}

  .bgd-white { background: #fff;}

  .page-section { margin-bottom: 50px;}

  .new-style { padding: 7.5px; background: #fff; margin-left: -7.5px; margin-right: -7.5px;}
  .title-new-style { margin-top: -23px;}

  .section-health { border-top: 4px solid #DB2289; border-top-left-radius: 5px; border-top-right-radius: 5px;}
