.modal {
  overflow: visible !important;

  .detail {
    margin-bottom: 35px;
  }
  .modal-header{
    
  }
  .modal-dialog {
    margin: 0;
  }

  .modal-body {
    max-height: calc(100vh - 133px);
    overflow-y: scroll !important;
  }

  .modal-content {
    padding-bottom: 60px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 100vh;
    border: none;

    label {
      color: $black;
      font-size: 12px;
      font-weight: 700;
    }

    input, textarea {
      display: block;
      width: 100%;
      background: #f5f5f5;
      border-radius: 5px;
      border: none;
      height: 30px;
      padding: 3px 10px;
    }

    input[type="file"] {

    }

    input[type='search'] {
      background: #FBFBFB;
      border: 1px solid #E8E8E8;
      padding: 5px 15px;
      height: 40px;
      border-radius: 20px;
    }

    textarea {
      min-height: 89px;
    }

    .btnSendNews {
      background: $yellow;
      color: $black;
      font-size: 18px;
      font-weight: 700;
      padding: 6px 54px;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      border-radius: 22px;
      border: none;
    }

    .title-result {
      margin-top: 25px;

      font-weight: 700;
      font-size: 15px;
    }
  }

  &.modal__share {
    .modal-dialog {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .modal-content {
      height: auto;
      min-height: unset;

      ul {
        list-style: none;
        padding-left: 0;

        li {
          padding: 10px 0;

          a {
            color: $black;
            padding-left: 35px;
            height: 20px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .list-share-facebook {
            background-image: url("../img/icon-share/icon-facebook.png");
          }

          .list-share-messenger {
            background-image: url("../img/icon-share/icon-telegram.png");
          }

          .list-share-twitter {
            background-image: url("../img/icon-share/icon-twitter.png");
          }

          .list-share-zalo {
            background-image: url("../img/icon-share/icon-zalo.png");
          }

          .list-share-link {
            background-image: url("../img/icon-share/icon-link.png");
          }

        }
      }
    }

  }

  .modal-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
  }

  .modal-header {
    .close {
      opacity: 1;
      position: absolute;
      right: 15px;
      z-index: 1000;
    }

    border-bottom: none;
  }

  .modal__menu {
    list-style: none;
    padding-left: 7px;

    li {
      padding: 17px 0;

      span {
        display: inline-block;
        overflow: hidden;
        text-indent: -9999px;
      }
    }
  }
}

.modal.modal__aside {
  position: fixed;
  top: 0;
  left: -100vw;
  transition: left .3s linear;
}

.modal.modal__aside.show {
  left: 0;
}

.grid-image {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-gap: 7px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 166px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .grid-image-item {
    position: relative;

    &:first-child {
      grid-row: span 3;
    }

    &:nth-child(4) span {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: .3);
      font-weight: 500;
      font-size: 40px;
      line-height: 100%;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(n + 5) {
      display: none;
    }
  }
}

#stickerModal .modal-body {
  padding-top: 0;
}

.animate-success {
  position: relative;
  margin-top: calc(50vh - 100px);
  margin-left: auto;
  width: 200px;
  margin-right: auto;
}
.animate-success img{
  width: 200px;
}
.animate-success .animate-2 {
  position: absolute;
  left: 0;
  top: 0
}
#modalSuccess .modal-content {
  border: 0;
  background: 0
}

#modalSuccess.show .modal-content .animate-2 {
  z-index: -1
}

#modalSuccess.show .modal-content .animate-success .animate-1 {
  animation: fadeOut .8s ease .5s forwards
}

#modalSuccess .modal-dialog {
  max-width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
.btn-more-down{
  width: 75px;
  height: 75px;
  display: block;
  cursor: pointer;
  margin:25px auto;
  background: url("../img/icon/down.svg") center no-repeat;
  border: none;
  transition: .2s;
  &:hover{
    transform: translateY(10px);
  }
}
.file-container {
  display: block;
  position: relative;
  height: 30px;
  input {
    display: none;
  }
  span {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    background: #FDC022;
    line-height: 30px;
    z-index: 1;
    text-align: center;
    color: $white;
    cursor: pointer;
  }
}
.file-catcher{
  display: flex;
  position: relative;
  margin: 7px 0;
  img{
    width: 50px;
    height: 50px;
  }
  h6{
    font-size:13px;
    margin: 0;
    font-weight:normal;
    color: $gray;
    padding:10px 30px 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  &-close{
    position: absolute;
    width: 25px;
    right: 0;
    top: 0;
    bottom: 0;
    color: $white;
    content: "\f00d";
    background: #e74c3c;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .file-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $white;
    width: 50px;
    height: 50px;
    background: #2980b9;
    &.file-video{
      background: #e67e22;
    }
    &.file-app{
      background: #7f8c8d;
    }
  }
}
.error{
  color: #ff0000;
  font-size: 12px;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blockUI.blockMsg.blockPage{
  border: none!important;
  background: none!important;
}


.detail.comment--term .tool-bar { padding-bottom: 0; }