.author-detail {
  margin: 30px;
}

.author-detail .author-avatar {
  width: 83px;
  height: 83px;
  border-radius: 50%;
}

.author-detail .author-name {
  font-size: 20px;
  line-height: 18px;
  margin-top: 8px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.author-detail .author-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
  border-bottom: 1px dashed #D5D5D5;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #000000;
}

.author-detail .author-tool .author-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-detail .author-like {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -8px;
  right: 0;
  background: url(../img/author/author-like.png) bottom/30px no-repeat;
}

.icon-author-count {
  background: url("../img/author/author-count.png") center/20px no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.icon-author-user {
  background: url("../img/author/user.png") center/20px no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}
/*# sourceMappingURL=author.css.map */