@charset "UTF-8";
@import "../vendor/bootstrap/css/bootstrap.min.css";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.animate-bottom {
  position: relative;
  animation: animateBottom 0.3s;
}

@keyframes animateBottom {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
.text-red {
  color: #890202 !important;
}

.text-gray {
  color: #C0C0C0;
}

.modal {
  overflow: visible !important;
}
.modal .detail {
  margin-bottom: 35px;
}
.modal .modal-dialog {
  margin: 0;
}
.modal .modal-body {
  max-height: calc(100vh - 133px);
  overflow-y: scroll !important;
}
.modal .modal-content {
  padding-bottom: 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 100vh;
  border: none;
}
.modal .modal-content label {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}
.modal .modal-content input, .modal .modal-content textarea {
  display: block;
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  border: none;
  height: 30px;
  padding: 3px 10px;
}
.modal .modal-content input[type=search] {
  background: #FBFBFB;
  border: 1px solid #E8E8E8;
  padding: 5px 15px;
  height: 40px;
  border-radius: 20px;
}
.modal .modal-content textarea {
  min-height: 89px;
}
.modal .modal-content .btnSendNews {
  background: #FDC022;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 54px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: none;
}
.modal .modal-content .title-result {
  margin-top: 25px;
  font-weight: 700;
  font-size: 15px;
}
.modal.modal__share .modal-dialog {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.modal.modal__share .modal-content {
  height: auto;
  min-height: unset;
}
.modal.modal__share .modal-content ul {
  list-style: none;
  padding-left: 0;
}
.modal.modal__share .modal-content ul li {
  padding: 10px 0;
}
.modal.modal__share .modal-content ul li a {
  color: #000000;
  padding-left: 35px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.modal.modal__share .modal-content ul li .list-share-facebook {
  background-image: url("../img/icon-share/icon-facebook.png");
}
.modal.modal__share .modal-content ul li .list-share-messenger {
  background-image: url("../img/icon-share/icon-telegram.png");
}
.modal.modal__share .modal-content ul li .list-share-twitter {
  background-image: url("../img/icon-share/icon-twitter.png");
}
.modal.modal__share .modal-content ul li .list-share-zalo {
  background-image: url("../img/icon-share/icon-zalo.png");
}
.modal.modal__share .modal-content ul li .list-share-link {
  background-image: url("../img/icon-share/icon-link.png");
}
.modal .modal-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.modal .modal-header {
  border-bottom: none;
}
.modal .modal-header .close {
  opacity: 1;
  position: absolute;
  right: 15px;
  z-index: 1000;
}
.modal .modal__menu {
  list-style: none;
  padding-left: 7px;
}
.modal .modal__menu li {
  padding: 17px 0;
}
.modal .modal__menu li span {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}

.modal.modal__aside {
  position: fixed;
  top: 0;
  left: -100vw;
  transition: left 0.3s linear;
}

.modal.modal__aside.show {
  left: 0;
}

.grid-image {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-gap: 7px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 166px;
}
.grid-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.grid-image .grid-image-item {
  position: relative;
}
.grid-image .grid-image-item:first-child {
  grid-row: span 3;
}
.grid-image .grid-image-item:nth-child(4) span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-image .grid-image-item:nth-child(n+5) {
  display: none;
}

#stickerModal .modal-body {
  padding-top: 0;
}

.animate-success {
  position: relative;
  margin-top: calc(50vh - 100px);
  margin-left: auto;
  width: 200px;
  margin-right: auto;
}

.animate-success img {
  width: 200px;
}

.animate-success .animate-2 {
  position: absolute;
  left: 0;
  top: 0;
}

#modalSuccess .modal-content {
  border: 0;
  background: 0;
}

#modalSuccess.show .modal-content .animate-2 {
  z-index: -1;
}

#modalSuccess.show .modal-content .animate-success .animate-1 {
  animation: fadeOut 0.8s ease 0.5s forwards;
}

#modalSuccess .modal-dialog {
  max-width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btn-more-down {
  width: 75px;
  height: 75px;
  display: block;
  cursor: pointer;
  margin: 25px auto;
  background: url("../img/icon/down.svg") center no-repeat;
  border: none;
  transition: 0.2s;
}
.btn-more-down:hover {
  transform: translateY(10px);
}

.file-container {
  display: block;
  position: relative;
  height: 30px;
}
.file-container input {
  display: none;
}
.file-container span {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  top: 0;
  background: #FDC022;
  line-height: 30px;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.file-catcher {
  display: flex;
  position: relative;
  margin: 7px 0;
}
.file-catcher img {
  width: 50px;
  height: 50px;
}
.file-catcher h6 {
  font-size: 13px;
  margin: 0;
  font-weight: normal;
  color: #A2A2A2;
  padding: 10px 30px 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.file-catcher-close {
  position: absolute;
  width: 25px;
  right: 0;
  top: 0;
  bottom: 0;
  color: #ffffff;
  content: "";
  background: #e74c3c;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-catcher .file-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  width: 50px;
  height: 50px;
  background: #2980b9;
}
.file-catcher .file-holder.file-video {
  background: #e67e22;
}
.file-catcher .file-holder.file-app {
  background: #7f8c8d;
}

.error {
  color: #ff0000;
  font-size: 12px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blockUI.blockMsg.blockPage {
  border: none !important;
  background: none !important;
}

.detail.comment--term .tool-bar {
  padding-bottom: 0;
}

.header {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(270.31deg, #7C0202 0.43%, #B90603 52.54%, #D10000 99.65%);
}
.header h1 {
  float: left;
  margin-bottom: 0;
  font-size: 1rem;
}
.header h1 .logo {
  display: block;
  padding: 12.5px 0;
  width: 79px;
}
.header .btn-search {
  float: right;
}
.header .back-to-home {
  display: inline-block;
  padding-left: 25px;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  color: #FFFFFF;
  background-image: url("../img/icon/back.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

header .topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
header .topic-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.topic-keyword {
  font-weight: 400;
  font-size: 32px;
}
.topic-keyword a {
  color: #000000;
}

.tool-top {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 999;
}

/*footer*/
.footer {
  border-top: solid 3px #890202;
  font-size: 12px;
  color: #000000;
  padding-bottom: 60px;
}

.list-logo {
  list-style: none;
  padding: 0;
  padding: 10px 0;
  border-bottom: solid 1px #f4dfde;
}

.list-logo img {
  height: 26px;
}

.list-logo li {
  display: inline-block;
}

.logo-footer {
  display: block;
  width: 133px;
  margin: 10px auto;
}

.footer dl dd a {
  color: #000000;
}

.footer dl dd a i {
  margin-bottom: 1px;
}

.btn-price-ads {
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px #aaa;
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(180deg, #DC0A09 0%, #A70409 100%);
  border-radius: 12px;
  display: inline-block;
}

.footer .list-social {
  margin-top: 10px;
  list-style: none;
  padding: 0 10px;
  text-align: center;
  background: #F7F5F5;
  margin-bottom: 0;
}

.footer .list-social li {
  display: inline-block;
  margin: 0 10px;
  height: 38px;
  line-height: 36px;
}

/*bottom-bar*/
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 15px;
  display: flex;
  z-index: 9999;
  box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);
}

.btn-news {
  margin-right: 8%;
  font-weight: bold;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  background: #F1F1F1;
  color: #000000;
  font-size: 12px;
  display: inline-block;
}

.btn-news i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 5px;
}

.btn-mail {
  font-weight: bold;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background: #fdbe21;
  color: #000000;
  font-size: 12px;
  display: inline-block;
}

.btn-mail i {
  margin-bottom: 3px;
  margin-right: 3px;
}

.btn-menu {
  margin-left: auto;
  height: 30px;
  width: 24px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -999px;
}

.btn-menu:before {
  transition: all 0.3s ease;
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  height: 2px;
  width: 17px;
  background: #000000;
  content: "";
}

.btn-menu:after {
  transition: all 0.3s ease;
  position: absolute;
  top: 6px;
  right: 0;
  display: block;
  height: 9px;
  width: 24px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  content: "";
}

/*slider-1*/
.slider-1 {
  margin-right: 40px;
  margin-top: 28px;
}

.slider-1 .slick-list {
  overflow: visible;
}

.slider-1 .slick-arrow {
  display: none !important;
}

/* slider-nav*/
.slider-nav {
  margin-top: 5px;
  margin-bottom: 30px;
}

.slider-nav.slider-nav-top {
  margin-bottom: 5px;
}

.slider-nav .slick-list {
  padding-bottom: 0;
  padding-top: 8px;
}

.slider-nav-top .slick-list {
  padding-bottom: 8px;
  padding-top: 0;
}

.slider-nav .slick-current.slick-active .art-video-nav:before {
  position: absolute;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000000;
  left: 50%;
  top: -7px;
  z-index: 9;
  margin-left: -5px;
}

.slider-nav .slick-current.slick-active .art-news-nav:before {
  position: absolute;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000000;
  left: 50%;
  bottom: -7px;
  z-index: 9;
  margin-left: -5px;
}

.slider-nav .slick-current.slick-active .art-video-nav:after,
.slider-nav .slick-current.slick-active .art-news-nav:after {
  display: none;
}

.slider-nav .slick-arrow {
  display: none !important;
}

.slider-author {
  position: relative;
  height: 15px;
}
.slider-author .author_1 {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

/*slide-4thumbs*/
.slide-4thumbs {
  margin-right: 25px;
}

.slide-4thumbs .slick-list {
  overflow: visible;
}

.slide-4thumbs .slick-slide .art-right:first-child {
  border-top: 0;
  padding-top: 0;
}

.slide-4thumbs .slick-dots {
  bottom: -45px;
}

.slide-4thumbs .slick-dots li {
  width: 110px;
}

.slide-4thumbs .slick-dots li button {
  height: 5px;
  width: 100%;
  background: #f0eceb;
  padding: 0;
}

.slide-4thumbs .slick-dots li button:before {
  content: "";
}

.slide-4thumbs .slick-dots li.slick-active button {
  background: #c4c4c4;
}

.slide-4thumbs .slick-arrow {
  display: none !important;
}

.slide-authors {
  margin-top: 15px;
}
.slide-authors-item {
  margin: 0 7px;
  width: 85px;
}
.slide-authors-item img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.slide-authors-item h6 {
  font-weight: 700;
  margin-top: 5px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
}

.slide-tags {
  margin: 11px 0;
  padding-left: 0;
  overflow: hidden;
}
.slide-tags-item {
  padding: 5px;
  margin-right: 20px;
  height: 40px;
  color: #8A0101;
  font-weight: 500;
  font-size: 18px;
  background: #E7E7E7;
  border-radius: 30px;
  display: inline-block;
}
.slide-tags-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.slide-tags-item a {
  padding: 0 10px;
  color: #8A0101;
}
.slide-tags-item a:before {
  content: "#";
}

.slide-comic-chap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.slide-comic-chap span {
  width: 35px;
  margin: 0 15px;
  height: 35px;
  background-color: #6A0303;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-comic-chap span.disabled {
  opacity: 0.4;
}
.slide-comic-chap span.btn-comic-next {
  background-image: url("../img/comic/next 2.png");
}
.slide-comic-chap span.btn-comic-prev {
  background-image: url("../img/comic/back 2.png");
}
.slide-comic-chap strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.slide-comment-container {
  position: relative;
}
.slide-comment-container .slide-comment-control {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
}
.slide-comment-container .slide-comment-control span {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-comment-container .slide-comment-control span.slick-disabled {
  opacity: 0.4;
}
.slide-comment-container .slide-comment-control span.comic-comment-next {
  background-image: url("../img/comic/next 2.png");
}
.slide-comment-container .slide-comment-control span.comic-comment-prev {
  background-image: url("../img/comic/back 2.png");
}

.slider-for .slick-slide img {
  width: 100%;
}

.slick-sticker {
  display: flex;
  overflow: auto;
}

.slick-track.disabled {
  transform: none !important;
}

/*icon*/
.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-back {
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/icon-back.svg);
}

.icon-clock {
  width: 10px;
  height: 10px;
  background-image: url(../img/icon/icon-clock.svg);
}

.icon-close-popup {
  width: 41px;
  height: 41px;
  background-image: url(../img/icon/icon-close-popup.svg);
}

.icon-comment {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/icon-comment.svg);
}

.icon-envelope {
  width: 14.61px;
  height: 15px;
  background-image: url(../img/icon/icon-envelope.svg);
}

.icon-facebook {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-facebook.svg);
}

.icon-heart-s {
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/icon-heart-s.svg);
}

.icon-hot {
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/icon-hot.svg);
}

.icon-img {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/icon-img.svg);
}

.icon-instagram {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-instagram.svg);
}

.icon-laught {
  width: 32px;
  height: 32px;
  background-image: url(../img/icon/icon-laught.svg);
}

.icon-like {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/icon-like.svg);
}

.icon-menu {
  width: 24px;
  height: 24px;
  background-image: url(../img/icon/icon-menu.svg);
}

.icon-search {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-search.svg);
}

.icon-sendnews {
  width: 22px;
  height: 22px;
  background-image: url(../img/icon/icon-sendnews.svg);
}

.icon-share {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/icon-share.svg);
}

.icon-suggest {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-suggest.svg);
}

.icon-telephone {
  width: 14.61px;
  height: 15px;
  background-image: url(../img/icon/icon-telephone.svg);
}

.icon-trend {
  width: 22px;
  height: 15px;
  background-image: url(../img/icon/icon-trend.png);
}

.icon-ttct {
  width: 59.94px;
  height: 20px;
  background-image: url(../img/icon/icon-ttct.svg);
}

.icon-tto {
  width: 59.94px;
  height: 20px;
  background-image: url(../img/icon/icon-tto.svg);
}

.icon-tttivi {
  width: 59.94px;
  height: 20px;
  background-image: url(../img/icon/icon-tttivi.svg);
}

.icon-video {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/icon-video.svg);
}

.icon-s {
  width: 20px;
  height: 20px;
}

.icon-youtube {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-youtube.svg);
}

.icon-mail {
  width: 22px;
  height: 22px;
  background-image: url(../img/icon/icon-mail.svg);
}

.icon-play {
  width: 80px;
  height: 80px;
  background-image: url(../img/icon/icon-play.svg);
}

.icon-home {
  width: 42px;
  height: 42px;
  background-image: url("../img/icon/icon-home.svg");
}

/*title-icon*/
.title-video {
  width: 94.31px;
  height: 40px;
  background-image: url(../img/icon-title/title-video.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-biemhoa {
  width: 122.93px;
  height: 40px;
  background-image: url(../img/icon-title/title-biemhoa.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-tintuccuoi {
  width: 148.37px;
  height: 40px;
  background-image: url(../img/icon-title/title-tintuccuoi.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-doicuoi {
  width: 125.74px;
  height: 40px;
  background-image: url(../img/icon-title/title-doicuoi.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-gioitre {
  width: 125.74px;
  height: 40px;
  background-image: url(../img/icon-title/title-gioitre.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-truyentranh {
  width: 194.39px;
  height: 40px;
  background-image: url(../img/icon-title/title-truyentranh.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-giaitri {
  width: 117.78px;
  height: 40px;
  background-image: url(../img/icon-title/title-giaitri.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-thethao {
  width: 117.78px;
  height: 40px;
  background-image: url(../img/icon-title/title-thethao.svg);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-slider {
  overflow: hidden;
}

/*title*/
.title, .title-cat, .title-list, .title-detail {
  padding: 12px 0;
}

.title span, title-cat span, .title-list span, .title-detail span {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}

.title img {
  height: 40px;
}

.title-cat img {
  height: 50px;
}

.title-list img {
  height: 30px;
}

.title-detail img {
  height: 35px;
}

.title-2 {
  padding: 12px 0;
  position: relative;
}

.title-2:before {
  content: "";
  left: 40px;
  right: 15px;
  position: absolute;
  height: 1px;
  background: #000000;
  top: 30px;
}

.title-2 h3 {
  position: relative;
  background: #ffffff;
  display: inline-block;
  padding-right: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

/*button*/
.btn-search {
  background: none;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  text-align: right;
}

.img-68x100 {
  padding-bottom: 68%;
}

.img-180x125 {
  padding-bottom: 144%;
}

.img-1x1 {
  padding-bottom: 100%;
}

.img-144x90 {
  padding-bottom: 68%;
  border-radius: 5px;
  background-size: cover;
}

.title-border-b {
  border-bottom: 1px solid #E9E8E8;
}

.border-1 {
  display: block;
  border-bottom: 3px solid #aeaeae;
}

.border-1-light {
  display: block;
  border-bottom: 1px solid #aeaeae;
}

.border-2 {
  display: block;
  border-bottom: 1px dashed #aeaeae;
}

.border-b {
  border-bottom: 1px solid #aeaeae;
}

/*reset css*/
* {
  outline: none !important;
}

img {
  max-width: 100%;
  display: inline-block;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.section-bgd {
  background: #f4f4f4;
}

.category {
  font-weight: 700;
}

/*list-tool*/
.list-tool {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  box-shadow: 0px 3px 7px rgba(209, 209, 209, 0.25);
}

.list-tool li {
  display: inline-block;
}

.list-tool li a {
  padding: 12px 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: block;
}

.list-tool li a i {
  margin-top: -5px;
  margin-right: 1px;
}

/*thumb*/
.outer-thumb {
  position: relative;
}

.thumb, .thumbs {
  display: block;
  position: relative;
}

.thumb .icon, .thumbs .icon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.thumb > img {
  width: 100%;
  height: 0;
}

.thumbs > img {
  width: 100%;
}

/*art-full*/
.art-full .thumb, .art-full .thumbs {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.art-full .time {
  margin-bottom: 7px;
}

/*art-1*/
.art-1 h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0 15px 0;
  margin-bottom: 0;
  border-bottom: none;
}

.art-1 h2 a {
  color: #000000;
}

.art-1 h2 a:hover {
  color: #ed1c24;
  text-decoration: none;
}

/*bar*/
.bar {
  border-bottom: solid 1px #e9e8e8;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: flex;
  font-size: 12px;
}

.bar li {
  display: inline-block;
}

.bar li.bar-comment a {
  color: #878787;
  margin-left: 20px;
}

.bar li.bar-comment a:first-child {
  margin-left: 0;
}

.bar li.bar-love {
  width: 50px;
  text-align: center;
}

.bar li.bar-love a {
  color: #878787;
}

.none-border {
  border: none !important;
}

.bar.d-flex .bar-comment {
  margin-left: auto;
}

.art-full .bar {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

/*fix tam thời*/
.page-section > .container > .art-1.art-full:first-child .bar {
  display: none;
}

/*art-slide*/
.art-slide {
  margin-right: 15px;
}

.art-slide .category {
  font-size: 10px;
  color: #A2A2A2;
  text-transform: uppercase;
  margin-top: 8px;
  display: block;
}

.art-slide h4 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}

.art-slide h4 a {
  color: #000000;
}

.art-slide h4 a:hover, .art-slide .category:hover {
  color: #ed1c24;
  text-decoration: none;
}

.art-slide .time {
  padding-top: 5px;
}

.art-slide .outer-thumb {
  border-radius: 3px;
  overflow: hidden;
}

/*art-video*/
.art-video {
  position: relative;
}

.art-video:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 11.69%, rgba(0, 0, 0, 0) 75.12%);
  content: "";
}

.art-video .des {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 35px 20px;
}

.art-video .des .category {
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
}

.art-video .des h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0;
}

.art-video .des h4 a {
  color: #ffffff;
}

.art-video .des h4:hover a {
  color: #ed1c24;
  text-decoration: none;
}

.art-video .icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 9;
}

.art-video:hover .icon-play {
  opacity: 0.8;
}

/*art-video-nav*/
.art-video-nav {
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.art-video-nav img {
  border-radius: 5px;
}

.art-video-nav:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.3);
  content: "";
}

/*art-news-nav*/
.art-news-nav {
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.art-news-nav:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.3);
  content: "";
}

/*art-3*/
.time {
  display: block;
  color: #C0C0C0;
  font-size: 12px;
}

.time i {
  margin-bottom: 3px;
  margin-right: 5px;
}

.author {
  position: absolute;
  left: 0;
  bottom: -15px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.tool-bar {
  display: flex;
  padding: 12px 0;
  list-style: none;
  margin: 0;
  border-bottom: 3px solid #aeaeae;
}

.tool-bar li {
  max-width: 33.3333%;
  width: 100%;
  text-align: center;
}

.tool-bar li a {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

.tool-bar li a i {
  margin-right: 5px;
}

.tool-bar.tool-full {
  margin-left: -15px;
  margin-right: -15px;
}

.art-3 h3 {
  font-size: 20px;
}

.art-3 h3 a {
  color: #000000;
  font-weight: bold;
}

.tool-bar.tool-bar-border {
  padding-top: 10px;
  padding-bottom: 7px;
  box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0;
}

.section-bgd .art-3 .thumbs {
  margin-bottom: 0;
}

.art-3.art-full .tool-bar.tool-full {
  padding-top: 15px;
}

.section-bgd .art-3.art-full .tool-bar.tool-bar-border {
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 10px;
}

/*art-4*/
.author_1 {
  display: block;
  font-size: 12px;
  color: #A2A2A2;
  position: relative;
  margin-bottom: 15px;
}

.author_1 > a.img-author {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.author_1 > a.img-author img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background: #EBEBEB;
}

.author_1 strong {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 1.3;
}

.author_1 > a:nth-child(2) {
  position: absolute;
  left: 50px;
  top: 25px;
  color: #A2A2A2;
}

.author_1 > a:nth-child(2):hover {
  color: #ed1c24;
  text-decoration: none;
}

/*art-4*/
.art-4 h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.art-4 h3 a {
  color: #000000;
}

.art-4 .time {
  margin-bottom: 10px;
}

/*art-right*/
.art-right {
  display: flex;
  padding: 12px 0;
  border-top: 1px solid #CECECE;
  margin-right: 25px;
}

.art-right .thumb {
  width: 90px;
  margin-left: 30px;
}

.art-right .des {
  width: 1px;
  flex-grow: 1;
}

.art-right .des h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.art-right .des h4 a {
  color: #000000;
}

.art-right .des h4 a:hover {
  color: #ed1c24;
}

.art-right .thumb .icon {
  top: 5px;
  right: 5px;
}

/*outer-time*/
.outer-time {
  display: flex;
  margin-bottom: 10px;
  margin-top: 12px;
}

.outer-time .category {
  font-size: 10px;
  color: #B0B0B0;
  margin-right: 10px;
  text-transform: uppercase;
}

/*art-left*/
.art-left {
  display: flex;
  padding: 12px 0;
  border-top: dashed 1px #a8a8a8;
}

.art-left .thumb {
  width: 90px;
  margin-right: 10px;
}

.art-left .des {
  width: 1px;
  flex-grow: 1;
}

.art-left .des h4 {
  font-size: 16px;
  font-weight: bold;
}

.art-left .des h4 a {
  color: #000000;
}

.art-left .des h4 a:hover {
  color: #ed1c24;
}

.list-art {
  padding-bottom: 16px;
}

.list-art .art-left:first-child {
  padding-top: 0;
  border: 0;
}

.seri-tag {
  font-size: 11px;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background: #890202;
}

.art-video-cat .thumb .icon-play {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  margin-top: -40px;
}

.art-video-cat .thumb {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.art-holder .author_1 img {
  background: #ebebeb;
}
.art-holder .author_1 strong {
  background: #f2f2f2;
  height: 12px;
  width: 66px;
}
.art-holder .author_1 span {
  display: inline-block;
  width: 66px;
  height: 5px;
  background: #f2f2f2;
  position: absolute;
  left: 53px;
  top: 22px;
  color: #A2A2A2;
}
.art-holder .tool-bar {
  display: flex;
  justify-content: space-around;
}
.art-holder .tool-bar li {
  background: #F2F2F2;
  width: 66px;
  height: 6px;
}
.art-holder .outer-thumb {
  height: 225px;
  background: #f1f1f1;
}
.art-holder .bar {
  justify-content: flex-end;
}
.art-holder .bar li {
  margin: 0 10px;
  background: #F2F2F2;
  width: 66px;
  height: 6px;
}
.art-holder .bar li:first-child {
  margin-right: auto;
}
.art-holder h3 {
  height: 9px;
  background: #f2f2f2;
}
.art-holder .time {
  background: #F2F2F2;
  width: 66px;
  height: 4px;
}
.art-holder.art-3 h3 {
  margin-bottom: 4px;
}
.art-holder.art-3 .time {
  margin-top: 5px;
  margin-bottom: 7px;
}
.art-holder.art-3 .outer-thumb {
  margin-left: -15px;
  margin-right: -15px;
}

.art-left-1 .thumb {
  width: 144px;
}

.art-left-1 {
  padding: 7px 0;
}
.art-left-1:not(:last-child) {
  border-top: none !important;
  border-bottom: dashed 1px #a8a8a8;
}
.art-left-1 .bar {
  font-size: 11px;
  line-height: 13px;
}
.art-left-1 .bar li {
  padding-right: 10px;
}
.art-left-1 .bar li a {
  color: #717171;
}

.art-left-1 .category {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #C5C5C5 !important;
}

.btn-readMore, .btn-readMore2 {
  width: 100%;
  border: none;
  color: #ffffff;
  padding: 5px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: #890202;
}

.art__thumb-3 {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 127px);
  grid-gap: 4px;
}
.art__thumb-3.art__thumb-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  grid-template-rows: repeat(2, 1fr);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  grid-gap: 2px;
}
.art__thumb-3 .art__thumb-item {
  display: block;
  position: relative;
}
.art__thumb-3 .art__thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(2), .art__thumb-3 .art__thumb-item:first-child:nth-last-child(2) ~ .art__thumb-item {
  grid-column: span 2;
  grid-row: span 1;
}
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(2) ~ .art__thumb-item img {
  max-height: 200px;
}
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(3) {
  grid-row: span 2;
}
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(3) ~ .art__thumb-item {
  grid-column: span 1;
  grid-row: span 1;
}
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(3) ~ .art__thumb-item img {
  max-height: 200px;
}
.art__thumb-3 .art__thumb-item:nth-child(3) > span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 27px;
  line-height: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.art__thumb-3 .art__thumb-item:nth-child(n+4) {
  display: none;
}

.wrapper-comment {
  margin-bottom: 0;
}

.detail-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 7px 0;
  color: #000000;
}

.detail-video-outer img {
  width: 100%;
}

.detail .tool-bar {
  border-bottom: none !important;
}

.detail-comment {
  margin: 0 -15px;
  padding: 0 15px 15px 15px;
}

.detail .slide-tags-item {
  font-size: 12px;
}
.detail .slide-tags-item a {
  color: #000000;
  line-height: 30px;
}

.modal .detail-comment {
  box-shadow: 0 4px 4px rgba(180, 180, 180, 0.25);
  border-radius: 0 0 30px 30px;
}
.modal .detail-comment .form-group {
  margin-bottom: 7px;
  position: relative;
}

.detail.detail-holder .author_1 strong {
  width: 73px;
  height: 12px;
  background: #EBEBEB;
}
.detail.detail-holder .author_1 > a:nth-child(2) {
  background: #EBEBEB;
  width: 33px;
  height: 3px;
  display: inline-block;
}
.detail.detail-holder .detail-comment .comment-avatar {
  background: #EBEBEB;
}
.detail.detail-holder .detail-image-outer {
  height: 283px;
  background: #EBEBEB;
}
.detail.detail-holder .bar span {
  display: inline-block;
  height: 8px;
  width: 70px;
  background: #EBEBEB;
}
.detail.detail-holder .tool-bar li {
  display: inline-block;
  height: 8px;
  width: 70px;
  background: #EBEBEB;
}

.detail-author {
  background: url("../img/user/stationery 2.png") left top/13px 13px no-repeat;
  padding-left: 20px;
  color: #000000;
  font-weight: 700;
  margin-right: 8px;
  font-size: 12px;
  line-height: 16px;
}

.detail .slider-nav .detail-thumb {
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  height: 100%;
  margin-left: 5px;
}
.detail .slider-nav .detail-thumb:after {
  position: absolute;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000000;
  left: 50%;
  bottom: -7px;
  z-index: 9;
  margin-left: -5px;
}

.media-content {
  margin: 0 -15px;
}

.tt-vplayer-content {
  margin: 0 -15px;
}

.detail-multi-image {
  margin: 0 -15px;
}

.image-comic {
  margin: 0 -15px;
}

.article--image {
  margin: 0 -15px;
  margin-bottom: 20px;
}

.detail-video-inTag {
  margin: 0 -15px 15px -15px;
  display: flex;
}
.detail-video-inTag .art-video-tag {
  flex: 0 0 32%;
}
.detail-video-inTag .art-video-tag:not(:last-child) {
  margin-right: 2%;
}

.detail-image-outer figure {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}

.detail-image-outer figure figcaption {
  font-size: 13px;
  padding: 5px 15px;
  font-style: italic;
  color: #666;
}

.article--image .show-commentImage {
  padding-bottom: 0 !important;
}

.article--image .show-commentImage img {
  width: 100%;
}

.article--image .bar {
  padding-left: 15px;
  padding-right: 15px;
}

.detail {
  font-size: 15px;
}

pre {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  overflow: hidden;
  margin-top: 0;
  white-space: pre-line;
  color: #333;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 22px;
}

.wrapper-comment {
  padding-left: 0;
}

.comment {
  list-style: none;
  display: flex;
  margin-top: 7px;
  margin-bottom: 10px;
}
.comment-avatar {
  width: 36px;
  height: 36px;
  background: black;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 36px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}
.comment-media {
  flex: 1;
}
.comment-content {
  min-height: 36px;
  background: #F5F5F5;
  border-radius: 18px;
  padding: 6px 12px;
}
.comment-name {
  font-weight: 700;
  font-size: 14px;
  color: #041B71;
  display: block;
  margin-right: 5px;
}
.comment-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.comment-tool {
  margin-left: 12px;
}
.comment-tool span {
  display: inline-block;
  margin-right: 7px;
  font-weight: 400;
  font-size: 12px;
  color: #000F91;
  padding: 3px;
  text-decoration: underline;
}
.comment-tool span.time {
  text-decoration: none;
  color: #c0c0c0;
}
.comment-box {
  margin-top: 5px;
  display: none;
}

.more-comment {
  font-weight: 500;
  font-size: 11px;
  color: #000F91;
  margin-bottom: 15px;
  display: inline-block;
}

.show-child-comment {
  margin-left: 12px;
  background: url("../img/icon/show-child-comment.png") left center/14px no-repeat;
  padding-left: 20px;
  font-size: 12px;
  line-height: 9px;
  color: #000F91;
}

.error {
  font-size: 12px;
  color: #e32;
}

.modal .detail-comment textarea {
  background: #F5F5F5;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  min-height: 40px;
  height: 40px;
  padding: 9px 15px;
  font-size: 14px;
  transition: 0.2s;
  resize: none;
}
.modal .detail-comment textarea:focus {
  min-height: 90px;
  height: auto;
}
.modal .detail-comment input {
  display: inline-block;
  background: #F5F5F5;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  min-height: 30px;
  height: 30px;
  font-size: 14px;
  padding: 9px 15px;
  margin-bottom: 5px;
}
.modal .detail-comment-sticker img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.form-group .btn-group-sticker {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
}
.form-group .btn-group-sticker .btn-sticker {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/icon/smile 1.png") no-repeat center/30px 30px;
}

.btn--comment {
  width: 100px;
  text-align: center;
  color: #fff;
  background: #e32;
  border: 0;
  font-size: 13px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 5px;
  padding: 3px 0;
}

.outer-txtarea {
  position: relative;
}

.btn-group-sticker .dropdown-menu {
  width: 270px;
  padding: 0 !important;
  will-change: none !important;
}

.slick-sticker span {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
}

.top-sticker {
  padding: 5px;
  border-bottom: solid 1px #eee;
}

.inner-sticker {
  padding: 0 40px;
  position: relative;
}

.inner-sticker .btn-prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}

.inner-sticker .btn-next {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}

.slick-sticker span img {
  display: block;
  width: 35px;
  height: 35px;
  margin: auto;
}

.middle-sticker {
  padding-bottom: 6px;
  min-height: 72px;
  max-height: 288px;
  overflow-y: auto;
}

.list-sticker {
  padding-left: 0 !important;
}

.list-sticker li {
  list-style: none;
  width: 100%;
  max-width: 20%;
  float: left;
  padding: 3px;
}

.list-sticker li span {
  display: block;
  cursor: pointer;
}

.list-sticker li span img {
  width: 64px;
  height: 64px;
  max-width: 64px !important;
}

.chosen-ticker img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.overview-comment {
  padding-left: 0;
}
.overview-comment .comment-tool {
  display: none;
}
.overview-comment .comment .comment {
  display: none;
}

.inner-sticker .btn-next {
  background-image: url("../img/icon/right-arrow.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.inner-sticker .btn-next.disabled {
  opacity: 0.3;
}
.inner-sticker .btn-prev {
  background-image: url("../img/icon/left-arrow.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.inner-sticker .btn-prev.disabled {
  opacity: 0.3;
}

.btn-writecomment {
  font-weight: 500;
  font-size: 11px;
  color: #000F91 !important;
  margin-bottom: 15px;
  display: inline-block;
}

.comment--term a {
  color: #000000;
}

.author-detail {
  margin: 30px;
}
.author-detail .author-avatar {
  width: 83px;
  height: 83px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.author-detail .author-name {
  font-size: 20px;
  line-height: 18px;
  margin-top: 8px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.author-detail .author-tool {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  border-bottom: 1px dashed #D5D5D5;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #000000;
}
.author-detail .author-tool .author-item {
  display: flex;
  align-items: center;
}
.author-detail .author-like {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -8px;
  right: 0;
  background: url(../img/author/author-like.png) bottom/30px no-repeat;
}

.icon-author-count {
  background: url("../img/author/author-count.png") center/20px no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.icon-author-user {
  background: url("../img/author/user.png") center/20px no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
