/*footer*/

.footer {
    font-size: 12px;
    color: $black;
    padding-bottom: 25px;
    padding-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px -4px 10px rgba(230, 230, 230, 0.25);
}

.list-logo {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-logo img {
    height: 26px;
}

.list-logo li {
    display: inline-block;
}

.footer dl {
    margin-bottom: 0;
}

.footer dl dd a {
    color: $black;
}

.footer dl dd a i {
    margin-bottom: 1px;
    margin-right: 5px;
}

.btn-price-ads {
    margin-bottom: 5px;
    top: 30px;
    box-shadow: 2px 2px 5px #aaa;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    font-weight: bold;
    color: $white!important;
    background: linear-gradient(180deg, #DC0A09 0%, #A70409 100%);
    border-radius: 12px;
    display: inline-block;
    margin-right: 10px;
}

.footer .list-social {
    margin-top: 10px;
    list-style: none;
    padding: 0 10px;
    text-align: center;
    background: #F7F5F5;
    margin-bottom: 0;
}

.footer .list-social li {
    display: inline-block;
    margin: 0 10px;
    height: 38px;
    line-height: 36px;
}


/*bottom-bar*/

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white;
    padding: 15px;
    display: flex;
    z-index: 9999;
    box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);
}

.btn-news {
    margin-right: 8%;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
    background: #F1F1F1;
    color: $black;
    font-size: 12px;
    display: inline-block;
}

.btn-news i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 5px;
}

.wrapper-logo {
    overflow: hidden;
    margin-bottom: 0px;
}

.logo-footer {
    float: left;
    width: 185px;
}

.inner-logo {
    float: left;
    margin-left: 20px;
}

.inner-logo h5 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.footer dt {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.footer dt dd {
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 0;
}

.footer-social {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.footer-social li {
    display: inline-block;
    margin-left: 25px;
}

.footer-social li a {
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.footer-social li.zalo a {
    background: none;
}

.footer-social li a i {
    color: #fff;
}

// .footer-social .btn-price-ads a {
//     margin-right: 100px;
// }
.copyright {
    font-size: 12px;
    color: #535353;
    font-weight: 400;
}

.lbl-social {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 25px;
}

.bottom-footer {
    display: flex;
}

.bottom-footer .btn-price-ads {
    margin-left: auto;
}

.scroll-btn-bot {
    height: 50px;
}