.header { height: 60px; margin: 0; padding: 0; z-index: 99; background: #FFFFFF; box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.25); position: fixed; left: 0; top: 0; width: 100%;}
.inner-header { display: flex;}
.inner-header h1, .inner-header div.outer-logo { width: 125px; margin: 10px 0;}
.inner-header h1 a, .inner-header div.outer-logo a { display: block;}
.inner-header h1 a img, .inner-header div.outer-logo a img { float: left;}

.inner-header  .btn-search { background: none; padding: 0;  border: 0; margin-left: 18px;}
.inner-header .group-btn { margin-left: auto; margin-top: 15px;}


.btn-mail { font-weight: bold; text-transform: uppercase; height: 30px; line-height: 30px; padding-right: 10px; padding-left: 10px; border-radius: 15px; background: #fdbe21; color: $black; font-size: 12px; display: inline-block;}
.btn-mail i { margin-bottom: 3px; margin-right: 3px;}
.btn-mail:hover { color: #000; }

.btn-menu { margin-left: auto; height: 30px; width: 24px; display: inline-block; position: relative; overflow: hidden; text-indent: -999px;}
.btn-menu:before { transition: all .3s ease;  position: absolute;top: 20px; right: 0; display: block; height: 2px; width: 17px; background: $black; content: ''; }
.btn-menu:after {   transition: all .3s ease;  position: absolute;  top: 6px; right: 0; display: block; height: 9px; width: 24px; border-top: 2px solid $black; border-bottom: 2px solid $black; content: ''; border-left: 0; border-right: 0;}
.dropdown-menu { width: 350px;}
.dropdown-menu .modal__menu { width: 100%; overflow: hidden;}
.dropdown-menu .modal__menu li { width: 50%; float: left;}

.menu .dropdown-menu { border: 1px solid #eee; border-top-left-radius: 0; border-top-right-radius: 0;} 