.modal-full { padding-right: 0!important;}
.modal-full .modal-dialog { max-width: 100%; margin: 0; min-height: 400px; display: flex;}
.modal-full .modal-dialog .modal-body { display: flex;}
.modal-full .modal-dialog .modal-content { border-radius: 0; border: 0;}
.modal-full .frm-search { margin: auto 0; padding: 0 250px; width: 100%;}
.modal-full .frm-search .txt-search { border: 0; border-bottom: solid 1px #dedede; font-size: 50px; color: #aaa; width: 100%; font-weight: 300; text-align: center; }
.modal-full .frm-search .outer-btn { text-align: right; margin-top: 15px; }
.modal-full .frm-search .outer-btn button { margin-right: 15px; transition: all .2s ease-in-out 0s; }
.modal-full .frm-search .outer-btn button i { margin-right: 3px; }
.modal-full .frm-search .outer-btn button:hover {     transform: translateY(-1.5px); }
.modal-full .frm-search .outer-btn .btn-search { border-radius: 15px; border: 0; padding: 0 25px; height: 30px; line-height: 30px;  color: #fff; background-color: #A40000; line-height: 30px; font-size: 15px; font-weight: 500;}
.modal-full .frm-search .outer-btn .btn-close-search {  border-radius: 15px; border: 0; height: 30px; line-height: 30px; padding: 0 20px; color: #000; background-color: #f2f2f2; line-height: 30px; font-size: 15px; font-weight: 500;}


.modal-full .fck figure { margin-bottom: 0; margin-top: 70px; padding-right: 50px;  }
.modal-full .title-under { margin-top: 0; }


.close-modal { position: absolute; right: 5px; top: 2px; cursor: pointer; font-size: 30px; z-index: 99;}
.title-modal { text-align: center; color: #000; font-size: 24px;}
.frm-general .form-group { margin-bottom: 20px;}
.frm-general .form-control { height: 40px; border-radius: 20px; background: #F5F5F5; border: 1px solid #EBEBEB; font-size: 14px;}
.btn-report { height: 35px; line-height: 35px; padding: 0 50px; border-radius: 20px; color: #fff; background: #B20505; display: inline-block;}

/*modal-img*/
.modal-comment .fck  { position: relative;}
.modal-comment .comment-write { margin-bottom: 10px;}
.modal-img { display: flex; height: calc(100vh - 60px)!important; align-items: center; justify-content: center;}
.modal-comment .fck .modal-img figure { margin: auto!important; text-align: center; position: relative; height: 100%; width: 100%;}
.modal-comment .wrapper-comment { height: calc(100vh - 480px); margin-bottom: 0; overflow-y: auto; padding-right: 5px; }
.modal-comment .fck .modal-img figure img { max-width: 100%; max-height: calc(100vh - 150px); margin: auto;}
.modal-comment .fck figure figcaption { position: absolute; left: 0; bottom: 0; width: 100%; background: none;}
.modal-comment .fig-author .author_1 { text-align: left;}

.modal-comment .author_1 strong, .modal-comment .fig-author .author_1 > a:nth-child(2) , .modal-comment .tool-bar li a { color: #fff;}

.modal-comment .title-under, .modal-comment .box-shadow { box-shadow:none;margin-left: -10px; margin-right: 10px; }
/*custom modal-comment */
.modal-comment .modal-dialog { max-width: 80%; }
.modal-backdrop.show { opacity: 0.7;}
.modal-comment .modal-body { padding: 0; border: 0; border-radius: 0;}
.modal-comment .fck { background: #000;}
.modal-content .modal-content { border: 0;}

.slick-modal, .slick-modal .d-flex { height: 100%;}
.slick-modal .slick-list.draggable, .slick-modal .slick-list.draggable .slick-track, .slick-modal .slick-slide { height: 100%;}
.slick-modal .slick-prev { opacity: 0.5; left: 8px; z-index: 999; width: 24px; height: 24px;} 
.slick-modal .slick-next { opacity: 0.5; right: 8px; z-index: 999;  width: 24px; height: 24px;}
.slick-modal .slick-prev:hover , .slick-modal .slick-next:hover { opacity: 1;}
.slick-modal .slick-next:before, .slick-modal .slick-prev:before { font-size: 24px;}




@media (max-width: 1441px) {
	.modal-comment .modal-dialog { max-width: 90%;}
	.modal-comment .col-lg-9 {  -ms-flex: 0 0 68%; flex: 0 0 68%;  max-width: 68%;}
	.modal-comment .col-lg-3 {  -ms-flex: 0 0 32%; flex: 0 0 32%;  max-width: 32%;}
}
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #fff;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.blockUI.blockMsg.blockPage{
	border: none!important;
	background: none!important;
}

.animate-success {
	position: relative;
	margin-top: calc(50vh - 100px);
	width: 200px;
	height: 200px;
	margin: auto;

	img {
		width: 200px;
		height: 200px
	}
}

.animate-success {
	.animate-2, .animate-1 {
		position: absolute;
		left: 0;
		top: 0
	}
}

#successModal .modal-content {
	border: 0;
	background: 0
}

#successModal.show .modal-content .animate-2 {
	z-index: -1
}

#successModal.show .modal-content .animate-success .animate-1 {
	animation: fadeOut .8s ease .5s forwards
}

#successModal .modal-dialog {
	max-width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.btnSendNews{
	margin-top: 25px;
	background: #FDC022;
	display: inline-block;
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	padding: 8px 74px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	border: none;
	cursor: pointer;
}
.file-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 150px;
	margin-bottom: 5px;
	border: 1px solid #EBEBEB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: .7;
	input {
		display: none;
	}
	&.dragging{
		outline:2px dashed #EBEBEB !important;
		outline-offset: -10px;
		opacity: 1;
	}
}
.file-catcher{
	display: flex;
	position: relative;
	margin: 10px 0;
	border:1px solid #eaeaea;
	overflow: hidden;
	img{
		width: 80px;
		height: 80px;
	}
	h6{
		font-size:15px;
		margin: 0;
		font-weight:normal;
		color: $gray;
		padding:15px 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
	&:hover{
		.file-catcher-close{
			transform: translateX(0);
		}
	}
	&-close{
		cursor: pointer;
		position: absolute;
		width: 45px;
		right: 0;
		transition: .3s;
		transform: translateX(45px);
		top: 0;
		bottom: 0;
		color: $white;
		content: "\f00d";
		background: rgba(#e74c3c,.8);
		font-family: 'Font Awesome 5 Free';
		font-weight: 700;
		font-size: 17px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.file-holder{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		color: $white;
		width: 80px;
		height: 80px;
		background: #2980b9;
		&.file-video{
			background: #e67e22;
		}
		&.file-app{
			background: #7f8c8d;
		}
	}
}
.error{
	color: #ff0000;
	font-size: 12px;
}