/*slider-1*/

.slider-1 {
    margin-right: 40px;
    margin-top: 28px;
}

.slider-1 .slick-list {
    overflow: visible;
}

.slider-1 .slick-arrow {
    display: none!important;
}


/* slider-nav*/

.slider .slick-slide {
    width: 600px;
}

.slider-nav {
    margin-top: 5px;
    margin-bottom: 30px;
}

.slider-nav.slider-nav-top {
    margin-bottom: 5px;
}

.slider-nav .slick-list {
    padding-bottom: 0;
    padding-top: 8px;
}

.slider-nav-top .slick-list {
    padding-bottom: 8px;
    padding-top: 0
}

.slider-nav .slick-current.slick-active .art-video-nav:before {
    position: absolute;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $black;
    left: 50%;
    top: -7px;
    z-index: 9;
    margin-left: -5px;
}

.slider-nav .slick-current.slick-active .art-news-nav:before {
    position: absolute;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $black;
    left: 50%;
    bottom: -7px;
    z-index: 9;
    margin-left: -5px;
}

.slider-nav .slick-current.slick-active .art-video-nav:after,
.slider-nav .slick-current.slick-active .art-news-nav:after {
    display: none;
}

.slider-nav .slick-arrow {
    display: none!important;
}


/*slide-4thumbs*/

.slide-4thumbs {
    margin-right: 25px;
}

.slide-4thumbs .slick-list {
    overflow: visible;
}

.slide-4thumbs .slick-slide .art-right:first-child {
    border-top: 0;
    padding-top: 0;
}

.slide-4thumbs .slick-dots {
    bottom: -45px;
}

.slide-4thumbs .slick-dots li {
    width: 110px;
}

.slide-4thumbs .slick-dots li button {
    height: 5px;
    width: 100%;
    background: #f0eceb;
    padding: 0;
}

.slide-4thumbs .slick-dots li button:before {
    content: "";
}

.slide-4thumbs .slick-dots li.slick-active button {
    background: #c4c4c4;
}

.slide-4thumbs .slick-arrow {
    display: none!important;
}

.btn-prev-chapter {
    background-image: url("../img/iconx4/slide-pre-min.png");
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    vertical-align: middle;
}

.btn-next-chapter {
    background-image: url("../img/iconx4/slide-next-min.png");
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    vertical-align: middle;
}

.btn-prev-chapter.disable,
.btn-next-chapter.disable {
    opacity: 0.6;
    cursor: default;
}

.slide-authors {
    margin-top: 15px;
    &-item {
        margin: 0 7px;
        width: 85px;
        img {
            width: 85px;
            height: 85px;
            object-fit: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        h6 {
            font-weight: 700;
            margin-top: 5px;
            line-height: 18px;
            height: 36px;
            overflow: hidden;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
            color: $black;
        }
    }
}

.article-1 .slide-tags {
    border-bottom: 1px dashed #000000;
}

.slide-tags {
    margin: 11px 0 50px 0;
    padding: 20px 0;
    // border-top: 2px solid #B20505;
    padding-left: 0;
    overflow: hidden;
    &-item {
        margin-right: 20px;
        height: 25px;
        color: #8A0104;
        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
        }
        a {
            padding: 0 15px 0 10px;
            color: #444;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            &:hover{color: #B20505}
            &:before {}
        }
        font-weight: 500;
        background: #f1f1f1;
        border-radius: 30px;
        display: inline-block;
    }
}

.slides-btn {
    position: relative;
}

.slides-btn .btn-tag {
    position: absolute;
    top: 25px;
    right: 0px;
}

.slides-btn .btn-tag button {
    background: blue;
    border-radius: 5px;
}

.slides-btn .btn-tag button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.col-lg-8 .slide-tags {
    margin-bottom: 10px;
}
.slides-btn .slide-tags { padding-right: 180px;}
.slide-comic-chap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    span {
        width: 35px;
        margin: 0 15px;
        height: 35px;
        background-color: #6A0303;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        &.disabled {
            opacity: .4;
        }
        &.btn-comic-next {
            background-image: url("../img/comic/next 2.png");
        }
        &.btn-comic-prev {
            background-image: url("../img/comic/back 2.png");
        }
    }
    strong {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        &::before {
            content: "#";
        }
    }
}

.slide-comment-container {
    position: relative;
    .slide-comment-control {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        left: 0;
        span {
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            &.slick-disabled {
                opacity: .4;
            }
            &.comic-comment-next {
                background-image: url("../img/comic/next 2.png");
            }
            &.comic-comment-prev {
                background-image: url("../img/comic/back 2.png");
            }
        }
    }
}

.slider-for .slick-slide img {
    width: 100%;
}

.outer-comic {
    padding-right: 180px;
    overflow: hidden;
    position: relative;
}

.outer-comic .slick-list {
    overflow: visible;
}

.slider-comic {
    position: static;
}

.slider-comic .owl-prev {
    margin-top: -41px;
    z-index: 9;
    position: absolute;
    width: 29px;
    height: 82px;
    left: 0;
    top: 50%;
    background: url("../img/new/slider-prev-1.png") 0 0 no-repeat!important;
}

.slider-comic .owl-next {
    margin-top: -41px;
    z-index: 9;
    position: absolute;
    width: 29px;
    height: 82px;
    right: 0;
    top: 50%;
    background: url("../img/new/slider-next-1.png") 0 0 no-repeat!important;
}

.slider-comic.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.owl-carousel-3 .owl-prev {
    margin-top: -41px;
    z-index: 9;
    position: absolute;
    width: 29px;
    height: 82px;
    left: 0;
    top: 50%;
    background: url("../img/new/slider-prev-1.png") 0 0 no-repeat!important;
}

.owl-carousel-3 .owl-next {
    margin-top: -41px;
    z-index: 9;
    position: absolute;
    width: 29px;
    height: 82px;
    right: 0;
    top: 50%;
    background: url("../img/new/slider-next-1.png") 0 0 no-repeat!important;
}

.page-purple .owl-carousel-3 .owl-prev {
    background: url("../img/new/slider-prev-2.png") 0 0 no-repeat!important;
}

.page-purple .owl-carousel-3 .owl-next {
    background: url("../img/new/slider-next-2.png") 0 0 no-repeat!important;
}



.owl-carousel-4 .owl-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/new/slider-prev.png) center center no-repeat !important;
    width: 41px;
    height: 41px;
    margin-top: -40px;
}

.owl-carousel-4 .owl-next {
    position: absolute;
    right: -20px;
    top: 50%;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/new/slider-next.png) center center no-repeat !important;
    width: 41px;
    height: 41px;
    margin-top: -40px;
}




/*slider-author*/

.outer-slider-author {
    height: 250px;
    margin-top: 30px;
}

.slider-author .slick-slide>a {
    width: 100%;
    padding-right: 24px;
    display: block;
    height: 150px;
    overflow: hidden;
}

.slider-author .slick-slide>a img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 4px 4px 4px #bbb;
    width: 80px;
    height: 80px;
}

.slider-author .slick-slide>a span {
    width: 80px;
    display: block;
    text-align: center;
    margin-top: 8px;
    color: #000;
    font-size: 14px;
}

.outer-slider-author .outer-slider {
    padding-right: 65px;
    overflow-x: hidden;
    height: 150px;
}

.title-s {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.title-s img {
    width: 103px;
    height: 35px;
    display: inline-block;
    margin-right: 5px;
}

.title-s:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: #6c6c6c;
    width: 100%;
    content: "";
}

.title-s span {
    padding-right: 20px;
    background: #fbfbfb;
    position: relative;
    z-index: 2;
}

.title-hoasy {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.title-hoasy img {
    width: 40px;
    display: inline-block;
    margin-right: 5px;
}

.title-hoasy:after {
    position: absolute;
    left: 140px;
    top: 50%;
    height: 1px;
    background: #6c6c6c;
    width: 76%;
    content: "";
}

.slider-author .slick-prev:before,
.slider-author .slick-next:before {
    display: none;
}

.slider-author .slick-prev {
    width: 26px;
    height: 26px;
    background: url(../img/iconx4/slide-pre-min.png) center center no-repeat;
    background-size: cover;
    top: 21px;
    right: 70px;
    left: auto;
}

.slider-author .slick-next {
    width: 26px;
    height: 26px;
    background: url(../img/iconx4/slide-next-min.png) center center no-repeat;
    background-size: cover;
    top: 21px;
    right: 0;
}

.draggable {
    
}

.slider-author .slick-list {
    overflow: visible;
}

.slider-author {
    position: static;
}

.outer-slider-author {
    position: relative;
}

.slider-author .slick-slide>a span {
    transform: translateY(30px);
    transition: all .2s ease;
    font-weight: 600;
}

.slider-author .slick-slide>a:hover span {
    transform: translateY(0px);
}


/*slick-modal*/

.slick-modal {
    width: 100%;
}

.slider-viewmore .art-5 { padding: 0;}

.slider-viewmore .owl-prev { margin-top: -18px; position: absolute; width: 40px; height: 36px; background: url(../img/icon/viewmore-prev.png) 0 0 no-repeat!important; z-index: 99; left: 0; top:50%; opacity: 0.4; }
.slider-viewmore .owl-next {margin-top: -18px; position: absolute; width: 40px; height: 36px; background: url(../img/icon/viewmore-next.png) 0 0 no-repeat!important;  z-index: 99; right: 0; top:50%; opacity: 0.4;}
.slider-viewmore .owl-prev span, .slider-viewmore .owl-next span { display: none; }
.slider-viewmore .slick-prev:hover, .slider-viewmore .slick-next:hover { opacity: 1;}
.slider-viewmore .slick-prev:before, .slider-viewmore .slick-next:before { display: none;}

.slider-viewmore{ padding-left: 60px; padding-right: 60px;}