@import url(e:\GIT_TuoiTre\TuoiTre_New\TuoiTreCuoi\desktop\vendor\bootstrap\css\bootstrap.min.css);
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.eot");
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Black.eot");
    src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.animate-bottom {
    position: relative;
    -webkit-animation: animateBottom 0.3s;
    animation: animateBottom 0.3s;
}

@-webkit-keyframes animateBottom {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}

@keyframes animateBottom {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}

.text-red {
    color: #890202 !important;
}

pre {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    overflow: hidden;
    margin-top: 0;
    white-space: pre-line;
    color: #333;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 22px;
}

.wrapper-comment {
    padding-left: 0;
}

.comment {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 13px;
}

.comment-avatar {
    width: 36px;
    height: 36px;
    background: black;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-media {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.comment-content {
    min-height: 36px;
    background: #F5F5F5;
    border-radius: 18px;
    padding: 6px 12px;
}

.comment-name {
    font-weight: 700;
    font-size: 14px;
    color: #A40000;
    margin-right: 5px;
    display: block;
}

.comment-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.comment-tool {
    margin-left: 12px;
}

.comment-tool span {
    display: inline-block;
    color: rgba(117, 117, 117, 0.8);
    margin-right: 7px;
    font-weight: 400;
    font-size: 12px;
    padding: 3px;
    text-decoration: underline;
}

.comment-tool span.time {
    text-decoration: none;
    color: rgba(142, 142, 142, 0.8);
}

.comment-box {
    margin-top: 5px;
    display: none;
}

.more-comment {
    font-weight: 500;
    font-size: 11px;
    color: #000F91 !important;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none !important;
    border-bottom: dashed 1px #000F91;
    line-height: 1;
}

.show-child-comment {
    margin-left: 12px;
    background: url("../img/icon/show-child-comment.png") left center/14px no-repeat;
    padding-left: 20px;
    font-size: 12px;
    line-height: 9px;
    color: #757575;
}

.error {
    font-size: 12px;
    color: #e32;
}

.detail-comment .form-info,
.comment-write .form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.detail-comment .form-info label,
.comment-write .form-info label {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 10px;
}

.detail-comment textarea,
.comment-write textarea {
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 60px;
    padding: 9px 15px;
    font-size: 14px;
    -webkit-transition: .2s;
    transition: .2s;
    resize: none;
    width: 100%;
}

.detail-comment textarea::-webkit-scrollbar,
.comment-write textarea::-webkit-scrollbar {
    display: none;
}

.detail-comment input,
.comment-write input {
    display: inline-block;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 30px;
    height: 30px;
    font-size: 14px;
    padding: 9px 15px;
    margin-bottom: 5px;
    width: 100%;
}

.detail-comment-sticker img,
.comment-write-sticker img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
}

.comment-ticker img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
}

#commentModal .form-info {
    display: block;
}

#commentModal .form-info label {
    width: 100%;
    display: block;
    margin-bottom: 0;
}

#commentModal .textarea,
#commentModal .input {
    display: block;
}

#commentModal .error {
    display: block;
}

.form-group {
    position: relative;
    margin-bottom: 5px;
}

.form-group .btn-group-sticker {
    position: absolute;
    right: 5px;
    top: 16px;
    width: 30px;
    height: 30px;
}

.form-group .btn-group-sticker .btn-sticker {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/icon/smile 1.png") no-repeat center/30px 30px;
}

.btn--comment,
.btn--close-comment {
    width: 125px;
    text-align: center;
    color: #fff;
    background: #B20505;
    border: 0;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    border-radius: 20px;
    margin-top: 3px;
}

.outer-txtarea {
    position: relative;
}

.btn-group-sticker .dropdown-menu {
    width: 270px;
    padding: 0 !important;
    will-change: none !important;
}

.slick-sticker span {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
}

.top-sticker {
    padding: 5px;
    border-bottom: solid 1px #eee;
}

.inner-sticker {
    padding: 0 20px;
    position: relative;
}

.inner-slider-sticker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inner-sticker .btn-prev {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
}

.inner-sticker .btn-next {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
}

.slick-sticker span img {
    display: block;
    width: 35px;
    height: 35px;
    margin: auto;
}

.middle-sticker {
    padding-bottom: 6px;
    min-height: 72px;
    max-height: 288px;
    overflow-y: auto;
}

.middle-sticker::-webkit-scrollbar {
    width: 3px;
}

.middle-sticker::-webkit-scrollbar-thumb {
    background: #A2A2A2;
}

.list-sticker {
    padding-left: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list-sticker li {
    list-style: none;
    width: 24%;
    padding: 3px;
}

.list-sticker li span {
    display: block;
    cursor: pointer;
}

.list-sticker li span img {
    width: 64px;
    height: 64px;
    max-width: 64px !important;
}

.chosen-ticker {
    margin-bottom: 5px;
}

.chosen-ticker img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
}

.comment-tool {
    padding-left: 20px;
}

.comment-tool span {
    cursor: pointer;
}

.overview-comment {
    padding-left: 0;
}

.overview-comment .comment-tool {
    display: none;
}

.overview-comment .comment-tool span {
    cursor: pointer;
}

.overview-comment .comment .comment {
    display: none;
}

.inner-sticker .btn-next {
    background-image: url("../img/icon/right-arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
}

.inner-sticker .btn-next.disabled {
    opacity: .3;
}

.inner-sticker .btn-prev {
    background-image: url("../img/icon/left-arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
}

.inner-sticker .btn-prev.disabled {
    opacity: .3;
}

.detail-comment .form-group {
    position: relative;
    margin-bottom: 0px;
}

.modal-comment .fck figure {
    margin-bottom: 0;
}

.comment-tool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0 1px 0;
}

.comment-tool span.report {
    margin-left: auto;
    color: #ED1C24;
}

.comment-text {
    color: #000;
}

.section-comment .detail-comment .form-info input {
    display: inline-block;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 30px;
    height: 30px;
    font-size: 14px;
    padding: 9px 15px;
    margin-bottom: 5px;
    width: 100%;
}

.section-comment .detail-comment .box-reply-cm {
    display: inline-block;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    resize: none;
    border-radius: 20px;
    min-height: 30px;
    height: 60px;
    font-size: 14px;
    padding: 9px 15px;
    margin-bottom: 5px;
    width: 100%;
}

.fliter-comment {
    position: relative;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fliter-comment span:last-child {
    margin-left: auto;
    display: inline-block;
    padding: 0 0 0 20px;
    background: #fff;
    position: relative;
    z-index: 1;
    background: #fff;
}

.fliter-comment:after {
    position: absolute;
    left: 80px;
    top: 50%;
    height: 1px;
    width: calc(100% - 80px);
    background: #E2E2E2;
    content: "";
}

.fliter-comment select {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000000;
    border-radius: 15px;
}


/*custom video comment*/

.block-comment-video .fliter-comment .txt-video {
    font-size: 30px;
    display: inline-block;
    padding-right: 20px;
    color: #fff;
    background: #000;
    position: relative;
    z-index: 1;
}

.block-comment-video .fliter-comment span:last-child {
    background: #000;
}

.block-comment-video .fliter-comment span:last-child select {
    margin-top: 12px;
    font-size: 12px;
    background: #000;
    color: #fff;
    border-color: #fff;
    height: 20px;
    line-height: 20px;
}

.block-comment-video .more-comment {
    color: rgba(255, 255, 255, 0.8);
}

.block-comment-video .comment-tool span {
    color: #c0c0c0;
}

.block-comment-video .show-child-comment {
    color: #aaa;
    text-decoration: none;
}

.block-comment-video .show-child-comment span {
    margin-right: 7px;
    color: #c0c0c0;
    text-decoration: underline;
}

.block-comment-video .detail-comment .box-reply-cm {
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 40px;
    height: 45px;
    padding: 9px 15px;
    font-size: 14px;
    -webkit-transition: .2s;
    transition: .2s;
    resize: none;
    width: 100%;
    overflow: hidden;
}

.block-comment-video .form-info {
    display: block;
    text-align: right;
}

.block-comment-video .form-info .form-group {
    margin-bottom: 1rem;
}

.block-comment-video .form-info label {
    width: 100%;
    margin-bottom: 0;
}

.block-comment-video .detail-comment input {
    display: inline-block;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 30px;
    height: 30px;
    font-size: 14px;
    padding: 9px 15px;
    margin-bottom: 5px;
    width: 100%;
}

.block-comment-video {
    margin-bottom: 30px;
}

.block-comment-video .wrapper-comment {
    height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.block-comment-video .show-child-comment {
    background-image: url(../img/icon/show-child-comment-white.png);
}

.more-comment,
.to-comment {
    font-weight: 500;
    font-size: 11px;
    color: #A40000 !important;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    text-decoration: underline;
}

.more-comment:hover,
.to-comment:hover {
    color: inherit;
}

.more-comment {
    margin-bottom: 10px;
}

.block-comment-video .more-comment,
.block-comment-video .to-comment {
    color: #ffffff !important;
}

.modal-full {
    padding-right: 0 !important;
}

.modal-full .modal-dialog {
    max-width: 100%;
    margin: 0;
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-full .modal-dialog .modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-full .modal-dialog .modal-content {
    border-radius: 0;
    border: 0;
}

.modal-full .frm-search {
    margin: auto 0;
    padding: 0 250px;
    width: 100%;
}

.modal-full .frm-search .txt-search {
    border: 0;
    border-bottom: solid 1px #dedede;
    font-size: 50px;
    color: #aaa;
    width: 100%;
    font-weight: 300;
    text-align: center;
}

.modal-full .frm-search .outer-btn {
    text-align: right;
    margin-top: 15px;
}

.modal-full .frm-search .outer-btn button {
    margin-right: 15px;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.modal-full .frm-search .outer-btn button i {
    margin-right: 3px;
}

.modal-full .frm-search .outer-btn button:hover {
    -webkit-transform: translateY(-1.5px);
    transform: translateY(-1.5px);
}

.modal-full .frm-search .outer-btn .btn-search {
    border-radius: 15px;
    border: 0;
    padding: 0 25px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #A40000;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
}

.modal-full .frm-search .outer-btn .btn-close-search {
    border-radius: 15px;
    border: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    color: #000;
    background-color: #f2f2f2;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
}

.modal-full .fck figure {
    margin-bottom: 0;
    margin-top: 70px;
    padding-right: 50px;
}

.modal-full .title-under {
    margin-top: 0;
}

.close-modal {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    font-size: 30px;
    z-index: 99;
}

.title-modal {
    text-align: center;
    color: #000;
    font-size: 24px;
}

.frm-general .form-group {
    margin-bottom: 20px;
}

.frm-general .form-control {
    height: 40px;
    border-radius: 20px;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    font-size: 14px;
}

.btn-report {
    height: 35px;
    line-height: 35px;
    padding: 0 50px;
    border-radius: 20px;
    color: #fff;
    background: #B20505;
    display: inline-block;
}


/*modal-img*/

.modal-comment .fck {
    position: relative;
}

.modal-comment .comment-write {
    margin-bottom: 10px;
}

.modal-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 60px) !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-comment .fck .modal-img figure {
    margin: auto !important;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.modal-comment .wrapper-comment {
    height: calc(100vh - 480px);
    margin-bottom: 0;
    overflow-y: auto;
    padding-right: 5px;
}

.modal-comment .fck .modal-img figure img {
    max-width: 100%;
    max-height: calc(100vh - 150px);
    margin: auto;
}

.modal-comment .fck figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: none;
}

.modal-comment .fig-author .author_1 {
    text-align: left;
}

.modal-comment .author_1 strong,
.modal-comment .fig-author .author_1>a:nth-child(2),
.modal-comment .tool-bar li a {
    color: #fff;
}

.modal-comment .title-under,
.modal-comment .box-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: -10px;
    margin-right: 10px;
}


/*custom modal-comment */

.modal-comment .modal-dialog {
    max-width: 80%;
}

.modal-backdrop.show {
    opacity: 0.7;
}

.modal-comment .modal-body {
    padding: 0;
    border: 0;
    border-radius: 0;
}

.modal-comment .fck {
    background: #000;
}

.modal-content .modal-content {
    border: 0;
}

.slick-modal,
.slick-modal .d-flex {
    height: 100%;
}

.slick-modal .slick-list.draggable,
.slick-modal .slick-list.draggable .slick-track,
.slick-modal .slick-slide {
    height: 100%;
}

.slick-modal .slick-prev {
    opacity: 0.5;
    left: 8px;
    z-index: 999;
    width: 24px;
    height: 24px;
}

.slick-modal .slick-next {
    opacity: 0.5;
    right: 8px;
    z-index: 999;
    width: 24px;
    height: 24px;
}

.slick-modal .slick-prev:hover,
.slick-modal .slick-next:hover {
    opacity: 1;
}

.slick-modal .slick-next:before,
.slick-modal .slick-prev:before {
    font-size: 24px;
}

@media (max-width: 1441px) {
    .modal-comment .modal-dialog {
        max-width: 90%;
    }
    .modal-comment .col-lg-9 {
        -ms-flex: 0 0 68%;
        -webkit-box-flex: 0;
        flex: 0 0 68%;
        max-width: 68%;
    }
    .modal-comment .col-lg-3 {
        -ms-flex: 0 0 32%;
        -webkit-box-flex: 0;
        flex: 0 0 32%;
        max-width: 32%;
    }
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    -webkit-transform-origin: 40px 40px;
    transform-origin: 40px 40px;
    -webkit-animation: lds-spinner 1.2s linear infinite;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blockUI.blockMsg.blockPage {
    border: none !important;
    background: none !important;
}

.animate-success {
    position: relative;
    margin-top: calc(50vh - 100px);
    width: 200px;
    height: 200px;
    margin: auto;
}

.animate-success img {
    width: 200px;
    height: 200px;
}

.animate-success .animate-2,
.animate-success .animate-1 {
    position: absolute;
    left: 0;
    top: 0;
}

#successModal .modal-content {
    border: 0;
    background: 0;
}

#successModal.show .modal-content .animate-2 {
    z-index: -1;
}

#successModal.show .modal-content .animate-success .animate-1 {
    -webkit-animation: fadeOut .8s ease .5s forwards;
    animation: fadeOut .8s ease .5s forwards;
}

#successModal .modal-dialog {
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.btnSendNews {
    margin-top: 25px;
    background: #FDC022;
    display: inline-block;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 74px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
}

.file-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 150px;
    margin-bottom: 5px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    opacity: .7;
}

.file-container input {
    display: none;
}

.file-container.dragging {
    outline: 2px dashed #EBEBEB !important;
    outline-offset: -10px;
    opacity: 1;
}

.file-catcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.file-catcher img {
    width: 80px;
    height: 80px;
}

.file-catcher h6 {
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    color: #A2A2A2;
    padding: 15px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.file-catcher:hover .file-catcher-close {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.file-catcher-close {
    cursor: pointer;
    position: absolute;
    width: 45px;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
    top: 0;
    bottom: 0;
    color: #ffffff;
    content: "\f00d";
    background: rgba(231, 76, 60, 0.8);
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.file-catcher .file-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    width: 80px;
    height: 80px;
    background: #2980b9;
}

.file-catcher .file-holder.file-video {
    background: #e67e22;
}

.file-catcher .file-holder.file-app {
    background: #7f8c8d;
}

.error {
    color: #ff0000;
    font-size: 12px;
}

.header {
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 99;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.25);
    box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.inner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inner-header h1,
.inner-header div.outer-logo {
    width: 125px;
    margin: 10px 0;
}

.inner-header h1 a,
.inner-header div.outer-logo a {
    display: block;
}

.inner-header h1 a img,
.inner-header div.outer-logo a img {
    float: left;
}

.inner-header .btn-search {
    background: none;
    padding: 0;
    border: 0;
    margin-left: 18px;
}

.inner-header .group-btn {
    margin-left: auto;
    margin-top: 15px;
}

.btn-mail {
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    background: #fdbe21;
    color: #000000;
    font-size: 12px;
    display: inline-block;
}

.btn-mail i {
    margin-bottom: 3px;
    margin-right: 3px;
}

.btn-mail:hover {
    color: #000;
}

.btn-menu {
    margin-left: auto;
    height: 30px;
    width: 24px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -999px;
}

.btn-menu:before {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    height: 2px;
    width: 17px;
    background: #000000;
    content: '';
}

.btn-menu:after {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 6px;
    right: 0;
    display: block;
    height: 9px;
    width: 24px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    content: '';
    border-left: 0;
    border-right: 0;
}

.dropdown-menu {
    width: 350px;
}

.dropdown-menu .modal__menu {
    width: 100%;
    overflow: hidden;
}

.dropdown-menu .modal__menu li {
    width: 50%;
    float: left;
}

.menu .dropdown-menu {
    border: 1px solid #eee;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*footer*/

.footer {
    font-size: 12px;
    color: #000000;
    padding-bottom: 25px;
    padding-top: 25px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px -4px 10px rgba(230, 230, 230, 0.25);
    box-shadow: 0px -4px 10px rgba(230, 230, 230, 0.25);
}

.list-logo {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-logo img {
    height: 26px;
}

.list-logo li {
    display: inline-block;
}

.footer dl {
    margin-bottom: 0;
}

.footer dl dd a {
    color: #000000;
}

.footer dl dd a i {
    margin-bottom: 1px;
    margin-right: 5px;
}

.btn-price-ads {
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #aaa;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    font-weight: bold;
    color: #ffffff !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#DC0A09), to(#A70409));
    background: linear-gradient(180deg, #DC0A09 0%, #A70409 100%);
    border-radius: 12px;
    display: inline-block;
    top: 34px;
}

.footer .list-social {
    margin-top: 10px;
    list-style: none;
    padding: 0 10px;
    text-align: center;
    background: #F7F5F5;
    margin-bottom: 0;
}

.footer .list-social li {
    display: inline-block;
    margin: 0 10px;
    height: 38px;
    line-height: 36px;
}


/*bottom-bar*/

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
    -webkit-box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);
    box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);
}

.btn-news {
    margin-right: 8%;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
    background: #F1F1F1;
    color: #000000;
    font-size: 12px;
    display: inline-block;
}

.btn-news i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 5px;
}

.wrapper-logo {
    overflow: hidden;
    margin-bottom: 0px;
}

.logo-footer {
    float: left;
    width: 185px;
}

.inner-logo {
    float: left;
    margin-left: 20px;
}

.inner-logo h5 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.footer dt {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.footer dt dd {
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 0;
}

.footer-social {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.footer-social li {
    display: inline-block;
    margin-left: 25px;
}

.footer-social li a {
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.footer-social li.zalo a {
    background: none;
}

.footer-social li a i {
    color: #fff;
}

.copyright {
    font-size: 12px;
    color: #535353;
    font-weight: 400;
}

.lbl-social {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 25px;
}

.bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bottom-footer .btn-price-ads {
    margin-left: auto;
}


/*slider-1*/

.slider-1 {
    margin-right: 40px;
    margin-top: 28px;
}

.slider-1 .slick-list {
    overflow: visible;
}

.slider-1 .slick-arrow {
    display: none !important;
}


/* slider-nav*/

.slider-nav {
    margin-top: 5px;
    margin-bottom: 30px;
}

.slider-nav.slider-nav-top {
    margin-bottom: 5px;
}

.slider-nav .slick-list {
    padding-bottom: 0;
    padding-top: 8px;
}

.slider-nav-top .slick-list {
    padding-bottom: 8px;
    padding-top: 0;
}

.slider-nav .slick-current.slick-active .art-video-nav:before {
    position: absolute;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #000000;
    left: 50%;
    top: -7px;
    z-index: 9;
    margin-left: -5px;
}

.slider-nav .slick-current.slick-active .art-news-nav:before {
    position: absolute;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000000;
    left: 50%;
    bottom: -7px;
    z-index: 9;
    margin-left: -5px;
}

.slider-nav .slick-current.slick-active .art-video-nav:after,
.slider-nav .slick-current.slick-active .art-news-nav:after {
    display: none;
}

.slider-nav .slick-arrow {
    display: none !important;
}


/*slide-4thumbs*/

.slide-4thumbs {
    margin-right: 25px;
}

.slide-4thumbs .slick-list {
    overflow: visible;
}

.slide-4thumbs .slick-slide .art-right:first-child {
    border-top: 0;
    padding-top: 0;
}

.slide-4thumbs .slick-dots {
    bottom: -45px;
}

.slide-4thumbs .slick-dots li {
    width: 110px;
}

.slide-4thumbs .slick-dots li button {
    height: 5px;
    width: 100%;
    background: #f0eceb;
    padding: 0;
}

.slide-4thumbs .slick-dots li button:before {
    content: "";
}

.slide-4thumbs .slick-dots li.slick-active button {
    background: #c4c4c4;
}

.slide-4thumbs .slick-arrow {
    display: none !important;
}

.btn-prev-chapter {
    background-image: url("../img/iconx4/slide-pre-min.png");
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    vertical-align: middle;
}

.btn-next-chapter {
    background-image: url("../img/iconx4/slide-next-min.png");
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    vertical-align: middle;
}

.btn-prev-chapter.disable,
.btn-next-chapter.disable {
    opacity: 0.6;
    cursor: default;
}

.slide-authors {
    margin-top: 15px;
}

.slide-authors-item {
    margin: 0 7px;
    width: 85px;
}

.slide-authors-item img {
    width: 85px;
    height: 85px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.slide-authors-item h6 {
    font-weight: 700;
    margin-top: 5px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
}

.slide-tags {
    margin: 11px 0 50px 0;
    padding: 18px 0;
    border-top: 1px dashed #FFFFFF;
    border-bottom: 1px dashed #FFFFFF;
    padding-left: 0;
    overflow: hidden;
}

.slide-tags-item {
    padding: 5px;
    margin-right: 20px;
    height: 40px;
    color: #8A0101;
    font-weight: 500;
    font-size: 18px;
    background: #E7E7E7;
    border-radius: 30px;
    display: inline-block;
}

.slide-tags-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}

.slide-tags-item a {
    padding: 0 10px;
    color: #000;
    font-size: 12px;
}

.slide-comic-chap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
}

.slide-comic-chap span {
    width: 35px;
    margin: 0 15px;
    height: 35px;
    background-color: #6A0303;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-comic-chap span.disabled {
    opacity: .4;
}

.slide-comic-chap span.btn-comic-next {
    background-image: url("../img/comic/next 2.png");
}

.slide-comic-chap span.btn-comic-prev {
    background-image: url("../img/comic/back 2.png");
}

.slide-comic-chap strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.slide-comic-chap strong::before {
    content: "#";
}

.slide-comment-container {
    position: relative;
}

.slide-comment-container .slide-comment-control {
    position: absolute;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    left: 0;
}

.slide-comment-container .slide-comment-control span {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-comment-container .slide-comment-control span.slick-disabled {
    opacity: .4;
}

.slide-comment-container .slide-comment-control span.comic-comment-next {
    background-image: url("../img/comic/next 2.png");
}

.slide-comment-container .slide-comment-control span.comic-comment-prev {
    background-image: url("../img/comic/back 2.png");
}

.slider-for .slick-slide img {
    width: 100%;
}

.outer-comic {
    padding-right: 180px;
    overflow: hidden;
    height: 532px;
}

.outer-comic .slick-list {
    overflow: visible;
}

.slider-comic .slick-prev,
.slider-comic .slick-next {
    display: none !important;
}


/*slider-author*/

.outer-slider-author {
    height: 250px;
    margin-top: 30px;
}

.slider-author .slick-slide>a {
    width: 100%;
    padding-right: 24px;
    display: block;
    height: 150px;
    overflow: hidden;
}

.slider-author .slick-slide>a img {
    border-radius: 50%;
    width: 100%;
    -webkit-box-shadow: 4px 4px 4px #bbb;
    box-shadow: 4px 4px 4px #bbb;
    width: 116px;
    height: 116px;
}

.slider-author .slick-slide>a span {
    display: block;
    text-align: center;
    margin-top: 8px;
    color: #000;
    font-size: 14px;
}

.outer-slider-author .outer-slider {
    padding-right: 65px;
    overflow-x: hidden;
    height: 150px;
}

.title-s {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.title-s img {
    width: 40px;
    display: inline-block;
    margin-right: 5px;
}

.title-s:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: #6c6c6c;
    width: 100%;
    content: "";
}

.title-s span {
    padding-right: 20px;
    background: #fbfbfb;
    position: relative;
    z-index: 2;
}

.title-hoasy {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.title-hoasy img {
    width: 40px;
    display: inline-block;
    margin-right: 5px;
}

.title-hoasy:after {
    position: absolute;
    left: 140px;
    top: 50%;
    height: 1px;
    background: #6c6c6c;
    width: 76%;
    content: "";
}

.slider-author .slick-prev:before,
.slider-author .slick-next:before {
    display: none;
}

.slider-author .slick-prev {
    width: 26px;
    height: 26px;
    background: url(../img/iconx4/slide-pre-min.png) center center no-repeat;
    background-size: cover;
    top: 21px;
    right: 70px;
    left: auto;
}

.slider-author .slick-next {
    width: 26px;
    height: 26px;
    background: url(../img/iconx4/slide-next-min.png) center center no-repeat;
    background-size: cover;
    top: 21px;
    right: 0;
}

.slider-author .slick-list {
    overflow: visible;
}

.slider-author {
    position: static;
}

.outer-slider-author {
    position: relative;
}

.slider-author .slick-slide>a span {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-weight: 600;
}

.slider-author .slick-slide>a:hover span {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}


/*slick-modal*/

.slick-modal {
    width: 100%;
}


/*icon*/

.icon {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-back {
    width: 21px;
    height: 21px;
    background-image: url(../img/icon/icon-back.svg);
}

.icon-clock {
    width: 10px;
    height: 10px;
    background-image: url(../img/icon/icon-clock.svg);
}

.icon-close-popup {
    width: 41px;
    height: 41px;
    background-image: url(../img/icon/icon-close-popup.svg);
}

.icon-comment {
    width: 12px;
    height: 12px;
    background-image: url(../img/icon/icon-comment.svg);
}

.icon-envelope {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-envelope.svg);
}

.icon-facebook {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-facebook.svg);
}

.icon-heart-s {
    width: 14px;
    height: 14px;
    background-image: url(../img/icon/icon-heart-s.svg);
}

.icon-hot {
    width: 23px;
    height: 23px;
    background-image: url(../img/icon/icon-hot.svg);
}

.icon-img {
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/icon-img.svg);
}

.icon-instagram {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-instagram.svg);
}

.icon-laught {
    width: 32px;
    height: 32px;
    background-image: url(../img/icon/icon-laught.svg);
}

.icon-like {
    width: 12px;
    height: 12px;
    background-image: url(../img/icon/icon-like.svg);
}

.icon-comment-b {
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/icon-comment-b-min.png);
    margin-right: 3px;
}

.icon-heart-s-w {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon/icon-heart-white.png);
}

.icon-share-w {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon/icon-share-w.png);
}

.icon-menu {
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/icon-menu.svg);
}

.icon-search {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-search.svg);
}

.icon-search-black {
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/btn-search-black.png);
}

.icon-search-s {
    width: 13px;
    height: 13px;
    background-image: url(../img/icon/icon-search-white.png);
}

.icon-close-s {
    width: 10px;
    height: 10px;
    background-image: url(../img/icon/icon-close-black.png);
}

.icon-sendnews {
    width: 22px;
    height: 22px;
    background-image: url(../img/icon/icon-sendnews.svg);
}

.icon-share {
    width: 12px;
    height: 12px;
    background-image: url(../img/icon/icon-share.svg);
}

.icon-suggest {
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/icon-suggest.svg);
}

.icon-telephone {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-telephone.svg);
}

.icon-trend {
    width: 28px;
    height: 17px;
    background-image: url(../img/icon/icon-trend.png);
}

.icon-ttct {
    width: 59.94px;
    height: 20px;
    background-image: url(../img/icon/icon-ttct.svg);
}

.icon-tto {
    width: 59.94px;
    height: 20px;
    background-image: url(../img/icon/icon-tto.svg);
}

.icon-tttivi {
    width: 59.94px;
    height: 20px;
    background-image: url(../img/icon/icon-tttivi.svg);
}

.icon-video {
    width: 26px;
    height: 26px;
    background-image: url(../img/icon/icon-video.svg);
}

.icon-s {
    width: 20px;
    height: 20px;
}

.icon-youtube {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-youtube.svg);
}

.icon-mail {
    width: 22px;
    height: 22px;
    background-image: url(../img/icon/icon-mail.svg);
}

.icon-play {
    width: 50px;
    height: 50px;
    background-image: url(../img/icon/icon-play-min.png);
}

.icon-home {
    width: 42px;
    height: 42px;
    background-image: url(../img/icon/icon-home.svg);
}

.icon-love-d {
    width: 14px;
    height: 14px;
    background-image: url(../img/icon/icon-heart-min.png);
}

.icon-binhluan-d {
    width: 14px;
    height: 14px;
    background-image: url(../img/icon/icon-comment-min.png);
}

.icon-video-d {
    width: 15px;
    height: 15px;
    background-image: url(../img/icon/icon-video.png);
}

.icon-img-d {
    width: 15px;
    height: 15px;
    background-image: url(../img/icon/icon-img.png);
}

.icon-zalo {
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/icon-zalo-1-min.png);
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.icon-zalo-black {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-zalo-min.png);
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.section-black .icon-love-d,
.art-black .icon-love-d {
    background-image: url(../img/icon/icon-heart-white-min.png);
}

.section-black .icon-binhluan-d,
.art-black .icon-binhluan-d {
    background-image: url(../img/icon/icon-comment-white-min.png);
}

.icon-telephone-s {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-telephone-s.png);
}

.icon-check-success {
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/icon-check-success.png);
}

.icon-write {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-write.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}


/*title-icon*/

.title-video {
    width: 94.31px;
    height: 40px;
    background-image: url(../img/icon-title/title-video.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-biemhoa {
    width: 122.93px;
    height: 40px;
    background-image: url(../img/icon-title/title-biemhoa.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-tintuccuoi {
    width: 148.37px;
    height: 40px;
    background-image: url(../img/icon-title/title-tintuccuoi.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-doicuoi {
    width: 125.74px;
    height: 40px;
    background-image: url(../img/icon-title/title-doicuoi.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-gioitre {
    width: 125.74px;
    height: 40px;
    background-image: url(../img/icon-title/title-gioitre.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-truyentranh {
    width: 194.39px;
    height: 40px;
    background-image: url(../img/icon-title/title-truyentranh.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-giaitri {
    width: 117.78px;
    height: 40px;
    background-image: url(../img/icon-title/title-giaitri.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-thethao {
    width: 117.78px;
    height: 40px;
    background-image: url(../img/icon-title/title-thethao.svg);
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-slider {
    overflow: hidden;
}

.banner-top,
.banner-bottom,
.banner-middle {
    min-height: 20px;
    margin: 20px 0;
    text-align: center;
}

.banner-middle>a {
    margin: 0 10px;
}

.section {
    padding: 20px;
    -webkit-box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    border-radius: 5px;
    margin: 0 0 40px 0;
    background: #fff;
}

.section-1 {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-right-radius: 0;
}

.section-black {
    background: #000;
}


/*title*/

.title,
.title-cat,
.title-list,
.title-detail {
    padding: 0 0 15px 0;
}

.section .title {
    margin-top: -35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title span,
.title-cat span,
.title-list span,
.title-detail span {
    display: inline-block;
    font-size: 25px;
    color: #000;
}

.title {
    padding-bottom: 20px;
}

.title span {
    margin-bottom: 5px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 25px;
    color: #000;
    margin-left: 10px;
    vertical-align: bottom;
    font-weight: 600;
}

.title h3 {
    margin-bottom: 0;
}

.section-black .title span {
    color: #fff;
}

.title img {
    height: 60px;
}

.title-cat img {
    height: 50px;
}

.title-list img {
    height: 30px;
}

.title-detail img {
    height: 35px;
}

.title-2 {
    padding: 12px 0;
    position: relative;
}

.title-2:before {
    content: "";
    left: 40px;
    right: 15px;
    position: absolute;
    height: 1px;
    background: #000000;
    top: 30px;
}

.title-2 h3 {
    position: relative;
    background: #ffffff;
    display: inline-block;
    padding-right: 5px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.none-bgd {
    background: none !important;
}


/*custom img*/


/*index*/

.img-200x300 {
    width: 200px;
    height: 300px;
}

.img-270x185 {
    width: 270px;
    height: 185px;
}

.img-375x257 {
    width: 375px;
    height: 257px;
}

.img-136x98 {
    width: 115px;
    height: 85px;
}

.img-274x172 {
    width: 274px;
    height: 172px;
}

.img-300x440 {
    width: 300px;
    height: 440px;
}

.img-380x265 {
    width: 380px;
    height: 265px;
}

.img-115x85 {
    width: 115px;
    height: 85px;
}

.img-360x235 {
    width: 360px;
    height: 235px;
}

.img-520x340 {
    width: 539px;
    height: 353px;
}


/*video*/

.img-200x137 {
    width: 200px;
    height: 137px;
}

.img-186x279 {
    width: 186px;
    height: 279px;
}

.img-230x158 {
    width: 230px;
    height: 158px;
}

.img-213x142 {
    width: 213px;
    height: 142px;
}


/*detail-chumanh*/

.img136x136 {
    width: 136px;
    height: 136px;
}

.img-279x418 {
    width: 279px;
    height: 418px;
}

.img-520x418 {
    width: 520px;
    height: 418px;
}

.img-253x380 {
    width: 253px;
    height: 380px;
}

.img-115x115 {
    width: 115px;
    height: 115px;
}

.img-253x154 {
    width: 253px;
    height: 154px;
}


/*list-author*/

.list-author {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    margin-top: -10px;
}

.list-author li {
    display: inline-block;
    margin: 0 2px;
}

.list-author li a {
    overflow: hidden;
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    -webkit-box-shadow: 1px 5px 5px gainsboro;
    box-shadow: 1px 5px 5px gainsboro;
}

.list-author li a img {
    width: 100%;
    height: 100%;
}


/*button*/

.border-1 {
    display: block;
    border-bottom: 1px dashed #cbcbcb;
    margin: 20px 0;
}

.border-1-light {
    display: block;
    border-bottom: 1px solid #aeaeae;
}

.border-2 {
    display: block;
    border-bottom: 1px dashed #aeaeae;
}

.border-b {
    border-bottom: 1px solid #aeaeae;
}

.border-3 {
    display: block;
    border-bottom: 1px solid #F3F3F3;
    margin: 20px 0;
}

.border-4 {
    display: block;
    border-bottom: 1px dashed #F3F3F3;
    margin: 15px 0;
}


/*title-head*/

.title-head h1,
.title-head h2 {
    position: relative;
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.title-head h1:after,
.title-head h2:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 8px;
    margin-top: -4px;
    background-color: #EB232C;
    content: "";
    width: 100%;
}

.title-head h1 img,
.title-head h2 img {
    width: 60px;
    display: inline-block;
    margin-right: 10px;
}

.title-head h1 span,
.title-head h2 span {
    display: inline-block;
    padding: 0 25px;
    background-color: #fbfbfb;
    position: relative;
    z-index: 1;
}

.title-head h1.title-yellow:after,
.title-head h2.title-yellow:after {
    background-color: #F8B85E;
}


/*reset css*/

.btn,
.button {
    position: relative;
    text-transform: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    will-change: transform;
}

.btn:hover,
.button:hover {
    -webkit-transform: translateY(-1.5px);
    transform: translateY(-1.5px);
}

* {
    outline: none !important;
}

img {
    max-width: 100%;
    display: inline-block;
}

article .thumb img {
    width: 100%;
}

a:hover {
    text-decoration: none !important;
}

body {
    font-family: 'Roboto';
    font-size: 15px;
    background: #fbfbfb;
    color: #858585;
    padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 10px;
    line-height: 1.3;
}

p {
    margin-bottom: 10px;
}

.btn-more {
    cursor: pointer;
    overflow: hidden;
    text-indent: -999px;
    border: 0;
    padding: 0;
    margin: 0;
    width: 55px;
    height: 55px;
    background: url(../img/btn-more.png) center center no-repeat;
    display: inline-block;
    background-size: cover;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mt-2 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 20px;
}

.section-bgd {
    background: #f4f4f4;
}

.category {
    font-weight: 700;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 98;
}

.list-tool .modal__menu {
    margin-bottom: 0;
    padding-bottom: 0;
}

.list-tool .modal__menu li {
    margin-top: 0;
}

.list-tool .modal__menu li:last-child {
    margin: 0;
}

.list-tool .modal__menu li a {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.list-tool .modal__menu li:last-child a {
    border-bottom: 0;
}

.list-tool .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 100% !important;
    right: 0 !important;
    left: unset !important;
}


/*setup*/

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-lg-5-2 {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-280 {
    -ms-flex: 0 0 319px;
    -webkit-box-flex: 0;
    flex: 0 0 319px;
    max-width: 319px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-520 {
    -ms-flex: 0 0 560px;
    -webkit-box-flex: 0;
    flex: 0 0 560px;
    max-width: 560px;
    padding-right: 10px;
    padding-left: 10px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.row-b {
    margin-left: -35px;
    margin-right: -35px;
}

.row-b .col-lg-6 {
    padding-right: 35px;
    padding-left: 35px;
}

.page-section {
    margin: 20px 0;
}

.page-section-video {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-section-video .title-head {
    margin-bottom: 40px;
}

.page-section-video .title-head h1 span,
.page-section-video .title-head h2 span {
    background: #000;
    color: #fff;
}

.content {
    width: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 20px;
}

.sidebar {
    width: 300px;
}

.block-left {
    width: 160px;
    margin-right: 20px;
}

.content-s {
    width: 680px;
    margin-right: 20px;
}

.icon-author {
    position: absolute;
    left: 10px;
    top: 10px;
}

.icon-author img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}


/*bar*/

.bar {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    margin: 8px 0 0 0;
    font-size: 10px;
    padding: 0;
}

.bar li {
    display: inline-block;
    font-size: 12px;
}

.bar li a {
    color: #B20505;
}

.bar li a:hover {
    text-decoration: none;
}

.bar:not(.d-flex) li:not(:first-child) {
    margin-left: 20px;
}

.bar li a i {
    margin-right: 3px;
}

.bar li:first-child {
    height: 20px;
    overflow: hidden;
}

.bar li a .icon-heart-s {
    width: 18px;
    height: 18px;
}

.art-4 .box-shadow .tool-bar i {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
}

.tool-bar-slide li span {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    margin: 0 25px;
    line-height: 1;
}

.tool-bar-slide li .category {
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: -7px;
}

.slide-chapter {
    margin-top: -10px;
}

.section-black .bar li a {
    color: #fff;
}

.art-black .bar li a {
    color: #fff;
}


/*art-1*/

.art-1,
.art-1 .box-shadow {
    height: 100%;
}

.art-1 .box-shadow,
.box-shadow {
    padding: 10px;
    -webkit-box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    border-radius: 5px;
    background: #fff;
}

.art-1 .thumb img {
    border-radius: 5px;
}

.art-1 .des h3 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.art-1 .des h3 a {
    color: #000;
}

.art-1 .des h3 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-1 .des h3:hover a {
    color: #ed1c24;
}

.art-1 .des h2 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.art-1 .des h2 a {
    color: #000;
}

.art-1 .des h2 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-1 .des h2:hover a {
    color: #ed1c24;
}

.art-1 .category {
    margin-top: 10px;
}


/*art-2*/

.art-2 .thumb img {
    border-radius: 5px;
}

.art-2 .des h3 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 25px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.art-2 .des h3:hover a {
    color: #ed1c24;
}

.art-2 .des h3 a {
    color: #000;
}

.art-2 .des h3 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-2 .des p {
    margin-bottom: 10px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}


/*art-3*/

.art-3 {
    margin-bottom: 20px;
}

.art-3 .thumb img {
    border-radius: 5px;
}

.art-3 .des h4 {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 18px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.art-3 .des h4 a {
    color: #000;
}

.art-3 .des h4 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-3 .des h4:hover a {
    color: #ed1c24;
}


/*art-4*/

.art-4 {
    margin-bottom: 10px;
}

.art-4 .thumb img {
    border-radius: 5px;
}

.art-4 .des h4 {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 20px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.art-4 .des h4 a {
    color: #000;
}

.art-4 .des h4 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-4 .des h4:hover a {
    color: #ed1c24;
}

.art-4 .box-shadow {
    background: #fff;
    padding: 15px;
}

.art-4 .bar.d-flex {
    font-size: 15px;
    margin-top: 12px;
}

.art-4 .bar.d-flex .bar-comment a {
    margin-left: 15px;
    color: #808080;
}

.art-4 .bar.d-flex .bar-love a {
    color: #808080;
}

.art-4 .box-shadow h3 {
    font-size: 20px;
    font-weight: bold;
}

.art-4 .box-shadow h3 a {
    color: #000;
}

.art-4 .outer-thumb {
    margin-left: -15px;
    margin-right: -15px;
    background: #eee;
}

.art-4 .outer-thumb .caption {
    font-size: 16px;
    color: #6F6F6F;
    padding: 10px;
    display: block;
}

.art-4 .date {
    font-size: 12px;
    color: #666;
    display: block;
    margin-top: 5px;
}

.page-404 .art-4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.section-list-video .art-4 .box-shadow {
    padding: 10px;
}

.section-list-video .art-4 .thumb:after {
    z-index: 1;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.section-list-video .art-4 .des h4 {
    font-size: 16px;
    font-weight: 600;
}

.block-video .art-4 .des h4,
.page-404 .art-4 .des h4 {
    font-size: 16px;
    font-weight: 600;
}

.block-video .art-4 .des h4 a {
    color: #fff;
}

.load {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    color: #fff;
    z-index: 2;
}

.block-video h1,
.block-video h2 {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 30px;
    color: #fff;
    font-weight: 500;
}


/*title-video*/

.title-video-s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    border-bottom: 1px solid #A4A4A4;
    margin-top: 25px;
}

.title-video-s h2 {
    color: #999;
    font-size: 18px;
}

.title-video-s h2 img {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin-right: 10px;
}

.title-video-s h2 span {
    font-size: 18px;
    font-weight: 600;
    color: #999;
    cursor: pointer;
}

.title-video-s h2 span.active {
    color: #000;
}

.title-video-s .select-video {
    margin-left: auto;
}


/*select-video*/

.select-video {
    text-align: center;
    height: 30px;
    border: 1px solid #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 30px;
    padding: 0 15px 0 10px;
    border-radius: 15px;
}

.outer-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 15px 10px 15px;
    border-bottom: solid 1px #ccc;
}

.outer-bar .bar {
    width: 100%;
    font-size: 15px;
}

.outer-bar .tool-bar {
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: auto;
    border: 0;
    padding: 0;
    font-size: 14px;
}

.outer-bar .tool-bar li {
    font-size: 14px;
    margin-left: 25px;
}

.outer-bar .tool-bar li a {
    color: #fff;
}

.outer-bar .bar li a {
    color: #E2E2E2;
}

.outer-bar .bar.d-flex .bar-comment a:last-child {
    margin-left: 30px;
}


/*art-5*/

.art-5 {
    position: relative;
}

.art-5 .thumb img {
    border-radius: 5px;
}

.art-5 .des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.art-5 .des h4 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.art-5 .des h4 a {
    color: #fff;
}

.art-5 .des h4 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-video .icon-play {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 9;
}

.art-5 .des h4:hover a,
.art-5 .des h2:hover a {
    color: #ed1c24;
}

.art-5 .des h2 {
    font-size: 20px;
    margin-top: 10px;
}

.art-5 .des h2 a {
    color: #fff;
}


/*art-right*/

.art-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
}

.art-right .thumb {
    width: 115px;
    margin-right: 10px;
}

.art-right .thumb img {
    border-radius: 5px;
    height: 100%;
}

.art-right .des {
    width: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.art-right .des h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.art-right .des h4 a {
    color: #fff;
}

.art-right .des h4 a:hover {
    color: #ed1c24;
}

.box-left-style .art-right .des h4 {
    font-size: 16px;
}

.box-left-style .art-right .des h4 a {
    color: #000;
}

.box-left-style .art-right {
    margin-top: 20px;
}

.box-left-style .art-right:first-child {
    margin-top: 0;
}


/*art-7*/

.art-7 {
    position: relative;
}

.art-7 .thumb {
    width: 274px;
    height: 172px;
    margin-right: 20px;
}

.art-7 .thumb img {
    border-radius: 5px;
}

.art-7 .des {
    position: relative;
}

.art-7 .des h4 {
    font-weight: 600;
    font-size: 20px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.art-7 .des h4 a {
    color: #000;
}

.art-7 .des h4 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-7 .des p {
    font-weight: normal;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.art-7 .time {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #666;
    font-size: 12px;
}

.art-7 .des h4:hover a {
    color: #ed1c24;
}

.section-1 .art-7 {
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 4px 10px rgba(213, 213, 213, 0.25);
    box-shadow: 0px 4px 10px rgba(213, 213, 213, 0.25);
    border-radius: 5px;
}

.block-new .art-7:first-child {
    margin-top: 0;
}

.block-new .border-1:last-child {
    display: none;
}


/*box-right*/

.box-right-style {
    width: 300px;
}

.box-left-style {
    width: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 20px;
}

.box-left-style .art-right .thumb {
    margin-right: 15px;
    height: 115px;
}


/*fig-author*/

.fig-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 0 !important;
}

.fig-author .author_1 {
    width: 30%;
    margin-bottom: 0;
}

.fig-author .author_1>a:nth-child(2) {
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.fig-author .tool-bar {
    padding-top: 0;
    margin-top: 10px;
    border: 0;
    width: 70%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 0;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.fig-author .tool-bar li i {
    width: 15px;
    height: 15px;
}

.fig-author .tool-bar li {
    margin-left: 100px;
}

.fig-author .tool-bar li:first-child {
    margin-left: 0;
}

div.fig-author {
    border-top: dashed 1px #E3E3E3;
    border-bottom: dashed 1px #E3E3E3;
    background: none;
    padding: 5px 0;
}

div.fig-author .tool-bar {
    width: 90%;
}

div.fig-author .tool-bar li {
    margin-left: 50px;
}


/*art-8*/

.art-8 {
    position: relative;
}

.art-8 .thumb {
    margin-left: -20px;
    margin-right: -20px;
}

.art-8 .des h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.art-8 .des h3 a {
    color: #000;
}

.art-8 .des h3 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-8 .des p {
    margin-bottom: 10px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.art-8 .des h3:hover a {
    color: #ed1c24;
}


/*art-9*/

.art-9 .des h4 a {
    color: #000;
}

.art-9 .des h4:hover a {
    color: #ed1c24;
}


/*art-comic*/

.art-comic {
    position: relative;
    margin: 0 20px 0 0;
}

.art-comic .thumb {
    position: relative;
}

.art-comic .thumb img {
    border-radius: 5px;
}

.art-comic .des h4 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.art-comic .des h4 a {
    color: #000;
}

.art-comic .des h4 a i {
    margin-top: -2px;
    margin-right: 2px;
}

.art-comic .des p {
    margin-bottom: 10px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.category {
    display: inline-block;
    border-radius: 10px;
    height: 20px;
    padding: 0 25px;
    background: #b62020;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
}

.art-comic .category {
    margin-top: 10px;
}

.art-comic .category:hover,
.category:hover {
    color: #fff;
}

.art-comic .des h4:hover a {
    color: #ed1c24;
}


/* art-comic-list*/

.art-comic-list {
    margin-bottom: 20px;
    height: auto;
}

.art-comic-list .des {
    position: relative;
    padding-top: 30px;
}

.art-comic-list .des .icon-author {
    position: absolute;
    left: 10px;
    top: -23px;
}

.art-comic-list .des .date {
    font-size: 12px;
    color: #666;
}

.art-comic-list .des h3 {
    font-size: 16px;
    margin-top: 0px;
}


/*block-bar*/

.block-bar {
    margin-bottom: 20px;
}

.block-bar .box-shadow {
    padding: 20px;
    -webkit-box-shadow: 0px 5px 10px rgba(215, 215, 215, 0.35);
    box-shadow: 0px 5px 10px rgba(215, 215, 215, 0.35);
    border-radius: 5px;
}

.title-connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #F5F3F3;
    position: relative;
    margin-bottom: 1rem;
}

.title-connect h4 {
    color: #000;
    font-size: 20px;
    position: relative;
    margin-bottom: 3px;
}

.title-connect h4:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #9D0000;
    width: 100%;
    bottom: -6px;
    left: 0;
}

.title-connect .logo-cuoi {
    width: 64px;
    display: block;
    margin-left: auto;
}

.list-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-social li {
    float: left;
    margin-left: 20px;
}

.list-social li:first-child {
    margin-left: 0;
}

.list-social li a {
    color: #000;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #F0EFEF;
    text-align: center;
    line-height: 50px;
}

.list-social li a i {
    font-size: 32px;
    vertical-align: middle;
}


/*list-filter-comic*/

.list-filter-comic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.list-filter-comic li {
    margin-right: 20px;
}

.list-filter-comic li a {
    font-weight: 600;
    display: inline-block;
    border-radius: 15px;
    padding: 0 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(164, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-filter-comic li.active a {
    background: #A40000;
}


/*block-404*/

.block-404 {
    text-align: center;
    background: #fff;
    position: relative;
}

.block-404 p {
    position: absolute;
    left: 50%;
    bottom: 95px;
    color: #6B5253;
    font-size: 30px;
    margin-left: -187px;
    font-family: Times New Roman;
}

.title-404,
.title-style-1 {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #A4A4A4;
    padding-bottom: 5px;
    margin-bottom: 15px;
}


/*tool-author*/

.tool-author {
    padding: 0;
    margin: 0 0 20px 0;
    display: inline-block;
    list-style: none;
    font-size: 12px;
}

.tool-author li {
    display: inline-block;
    margin-right: 15px;
}

.tool-author li.author-art a {
    font-weight: 500;
    color: #A40000;
}

.tool-author li.date {
    color: #6D6969;
}

.top-art h1 {
    color: #000;
    font-size: 35px;
}


/*fck*/

.fck {
    color: #000;
    font-size: 18px;
}

.fck figure {
    margin-bottom: 1rem;
}

.fck figure figcaption {
    font-size: 14px;
    color: #5A5A5A;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fck figure figcaption i {
    margin: auto 8px auto 0;
    width: 15px;
}

.fck figure figcaption span {
    width: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.fck .author {
    text-align: right;
    font-weight: 600;
}


/*outer-bar-fck*/

.outer-bar-fck {
    padding-right: 0;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 0;
    border-bottom: 0;
    border-top: dashed 1px #ddd;
    margin-top: -20px;
}

.outer-bar-fck .bar {
    margin-top: 15px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.outer-bar-fck .bar li a {
    color: #808080;
}

.outer-bar-fck .tool-bar li a {
    color: #000;
    height: 30px;
    line-height: 30px;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    background: #F5F5F5;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
}

.outer-bar-fck .tool-bar li a i {
    width: 16.14px;
    height: 16px;
    margin-top: -3px;
}


/*title-under*/

.title-under {
    font-size: 25px;
    text-align: center;
    color: #000;
    font-weight: 500;
    margin: 30px 0;
}

.title-under span {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 3px solid #A40000;
    padding-right: 10px;
    padding-left: 10px;
}


/*art-news*/

.art-news {
    padding-bottom: 15px;
}

.art-news .list-cm {
    margin-bottom: 0;
}

.art-news .wrapper-comment .viewmore {
    height: 28px;
    line-height: 28px;
    display: block;
    margin-bottom: 5px;
    border-radius: 14px;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
}

.art-news .block-comment {
    margin-top: 0;
}

.art-news .block-comment .comment-write {
    padding: 0 0 10px 0;
}

.list-enter {
    margin-top: 20px;
}

.list-enter .row {
    margin-right: -10px;
    margin-left: -10px;
}

.list-enter .row .col {
    padding-left: 10px;
    padding-right: 10px;
}

.list-enter-style .art-enter-s {
    margin-bottom: 0;
}

.block-comment {
    margin-top: 10px;
}

.list-cm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 7px;
    border-top: solid 1px #ddd;
    margin-top: 15px;
    border-bottom: solid 1px #ddd;
}

.list-cm li {
    min-width: 33.33%;
    margin-right: 0;
}

.list-cm li iframe {
    padding: 0;
    margin: 0;
    border: 0;
    width: 60px;
    height: 20px;
}

.tool li iframe {
    padding: 0;
    margin: 0;
    border: 0;
    width: 36px;
    height: 88px;
}

.list-cm li iframe {
    padding: 0;
    margin: 0;
    border: 0;
    width: 60px;
    height: 20px;
}

.list-cm li i {
    font-size: 18px;
    vertical-align: middle;
}

.list-cm li:first-child {
    margin-top: 5px;
}

.list-cm li:nth-child(2) {
    margin-top: 1px;
    min-width: 33.3333%;
    text-align: center;
}

.list-cm li:nth-child(2) span.icon {
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
}

.list-cm .text-cm {
    width: 100%;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.list-cm li.outer-share {
    text-align: right;
    margin-top: 4px;
}

.list-cm .text-cm textarea {
    width: 100%;
    height: 46px;
    padding: 8px 15px;
    border-radius: 0;
    background: #ededed;
    color: #333;
    resize: none;
    border: 0;
}

.art-media .list-cm li i {
    font-size: 14px;
}

.list-cm .text-cm {
    position: relative;
    margin-right: 0;
}

.list-cm .text-cm .btn-comment {
    position: absolute;
    right: 0;
    top: 1px;
    background: 0;
    color: #9b9b9b;
}

.list-cm .text-cm:hover .btn-comment {
    color: #333;
}

.art-news .list-cm {
    margin-top: 0;
    padding-bottom: 6px;
    border-bottom: solid 1px #ddd;
}

.art-news .list-cm li i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 3px;
}

.art-news header {
    margin-bottom: 15px;
}

.art-news header a {
    display: block;
    color: #333;
}

.art-news header a img {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    vertical-align: middle;
}

.art-news header a span {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

.art-news header {
    position: relative;
}

.art-news header .btn-time {
    position: absolute;
    font-size: 11px;
    left: 50px;
    top: 23px;
}

.art-news header a span strong {
    display: block;
    font-size: 16px;
    margin-bottom: 2px;
}

.art-news section>p {
    margin-bottom: 20px;
    font-size: 15px;
}

.art-news .outer-img img {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.art-news .box-shadow {
    background: #fff;
    padding: 15px;
}

.text-title-2 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.outer-img .caption {
    display: block;
    color: #6F6F6F;
    font-size: 16px;
}


/*author_1*/

.author_1 {
    display: block;
    font-size: 12px;
    color: #A2A2A2;
    position: relative;
    margin-bottom: 10px;
}

.author_1>a.img-author {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.author_1 strong {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.author_1>a.img-author img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: #EBEBEB;
}

.author_1>a:nth-child(2) {
    position: absolute;
    left: 50px;
    top: 22px;
    color: #A2A2A2;
    z-index: 1;
}


/*list-tool*/

.list-tool {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    margin-left: 20px;
}

.list-tool li {
    display: inline-block;
    margin-top: 9px;
}

.list-tool li:last-child {
    margin-left: 30px;
    margin-top: 18px;
}

.list-tool li a {
    padding: 12px 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.list-tool li a i {
    margin-top: -5px;
    margin-right: 5px;
}


/*thumb*/

.outer-thumb {
    position: relative;
}

.thumb,
.thumbs {
    display: block;
    position: relative;
}

.thumb .icon,
.thumbs .icon {
    position: absolute;
    right: 10px;
    top: 10px;
}


/*art-full*/

.art-full .thumb,
.art-full .thumbs {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.art-full .time {
    margin-bottom: 7px;
}


/*art-slide*/

.art-slide {
    margin-right: 15px;
}

.art-slide .category {
    font-size: 10px;
    color: #A2A2A2;
    text-transform: uppercase;
    margin-top: 8px;
    display: block;
}

.art-slide h4 {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
}

.art-slide h4 a {
    color: #000000;
}

.art-slide h4 a:hover,
.art-slide .category:hover {
    color: #ed1c24;
    text-decoration: none;
}

.art-slide .time {
    padding-top: 5px;
}


/*art-news-nav*/

.art-news-nav {
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

.art-news-nav:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 225, 225, 0.3);
    content: "";
}


/*outer-time*/

.outer-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.outer-time .category {
    font-size: 10px;
    color: #B0B0B0;
    margin-right: 10px;
    text-transform: uppercase;
}


/*art-left*/

.art-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0;
    border-top: dashed 1px #a8a8a8;
}

.art-left .thumb {
    width: 90px;
    margin-right: 10px;
}

.art-left .des {
    width: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.art-left .des h4 {
    font-size: 16px;
    font-weight: bold;
}

.art-left .des h4 a {
    color: #000000;
}

.art-left .des h4 a:hover {
    color: #ed1c24;
}

.list-art {
    padding-bottom: 16px;
}

.list-art .art-left:first-child {
    padding-top: 0;
    border: 0;
}

.seri-tag {
    font-size: 11px;
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background: #890202;
}

.art-video-cat .thumb .icon-play {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -40px;
    margin-top: -40px;
}

.art-video-cat .thumb {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.art-holder .author_1 img {
    background: #ebebeb;
}

.art-holder .author_1 strong {
    background: #f2f2f2;
    height: 12px;
    width: 66px;
}

.art-holder .author_1 span {
    display: inline-block;
    width: 66px;
    height: 5px;
    background: #f2f2f2;
    position: absolute;
    left: 53px;
    top: 22px;
    color: #A2A2A2;
}

.art-holder .tool-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.art-holder .tool-bar li {
    background: #F2F2F2;
    width: 66px;
    height: 6px;
}

.art-holder .outer-thumb {
    height: 225px;
    background: #f1f1f1;
}

.art-holder .bar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.art-holder .bar li {
    margin: 0 10px;
    background: #F2F2F2;
    width: 66px;
    height: 6px;
}

.art-holder .bar li:first-child {
    margin-right: auto;
}

.art-holder h3 {
    height: 9px;
    background: #f2f2f2;
}

.art-holder .time {
    background: #F2F2F2;
    width: 66px;
    height: 4px;
}

.art-holder.art-3 h3 {
    margin-bottom: 4px;
}

.art-holder.art-3 .time {
    margin-top: 5px;
    margin-bottom: 7px;
}

.art-holder.art-3 .outer-thumb {
    margin-left: -15px;
    margin-right: -15px;
}

.art-left-1 .thumb {
    width: 144px;
}

.art-left-1 {
    padding: 7px 0;
}

.art-left-1:not(:last-child) {
    border-top: none !important;
    border-bottom: dashed 1px #a8a8a8;
}

.art-left-1 .bar {
    font-size: 11px;
    line-height: 13px;
}

.art-left-1 .bar li {
    padding-right: 10px;
}

.art-left-1 .bar li a {
    color: #717171;
}

.art-left-1 .category {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C5C5C5 !important;
    color: #eee;
}

.tool-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-top: solid 1px #ddd;
    margin-top: 10px;
}

.tool-bar li {
    font-size: 16px;
    font-family: arial;
    color: #000;
    font-weight: bold;
}

.tool-bar li a {
    color: #000;
}


/* width */

.wrapper-comment::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}


/* Track */

.wrapper-comment::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}


/* Handle */

.wrapper-comment::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}


/* Handle on hover */

.wrapper-comment::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}


/*block-comment-video*/

.dropdown-share .dropdown-toggle::after {
    display: none;
}


/*list-share-1*/

.dropdown-share .dropdown-menu {
    width: 275px;
    margin-top: 13px;
}

.list-share-1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-share-1 li {
    list-style: none;
    margin: 0 20px !important;
}

.list-share-1 li a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000 !important;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
}

.list-share-1 li .list-share-facebook {
    background-image: url(../img/icon-share/icon-facebook.png);
}

.list-share-1 li .list-share-messenger {
    background-image: url(../img/icon-share/icon-telegram.png);
}

.list-share-1 li .list-share-twitter {
    background-image: url(../img/icon-share/icon-twitter.png);
}

.list-share-1 li .list-share-zalo {
    background-image: url(../img/icon-share/icon-zalo.png);
}

.list-share-1 li .list-share-link {
    background-image: url(../img/icon-share/icon-link.png);
}

@media (min-width: 1365px) {
    .container {
        max-width: 1210px;
    }
}

.outer-bar-fck .tool-bar .list-share-1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.outer-bar-fck .tool-bar .list-share-1 li {
    list-style: none;
    margin: 0 20px !important;
}

.outer-bar-fck .tool-bar .list-share-1 li a {
    height: auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000 !important;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    border: 0;
    background-color: #fff;
    padding-right: 0;
}

.outer-bar-fck .tool-bar .list-share-1 li .list-share-facebook {
    background-image: url(../img/icon-share/icon-facebook.png);
}

.outer-bar-fck .tool-bar .list-share-1 li .list-share-messenger {
    background-image: url(../img/icon-share/icon-telegram.png);
}

.outer-bar-fck .tool-bar .list-share-1 li .list-share-twitter {
    background-image: url(../img/icon-share/icon-twitter.png);
}

.outer-bar-fck .tool-bar .list-share-1 li .list-share-zalo {
    background-image: url(../img/icon-share/icon-zalo.png);
}

.outer-bar-fck .tool-bar .list-share-1 li .list-share-link {
    background-image: url(../img/icon-share/icon-link.png);
}


/*title-search*/

.title-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    margin-top: 20px;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 10px;
}

.title-search strong {
    display: inline-block;
    margin: 0 5px;
}

.search-frm {
    margin-left: auto;
    position: relative;
    margin-top: -10px;
}

.search-frm input {
    color: #1a1a1a;
    width: 260px;
    font-size: 12px;
    height: 32px;
    line-height: 42px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #F3EFEF;
}

.search-frm .search-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.search-frm .search-button .icon-search-black {
    opacity: 0.7;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 0;
}

.title-search .s-txt {
    text-transform: none;
    width: 140px;
}

.title-search .slide-tags {
    width: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.title-search .slide-tags-item img {
    height: 22px;
    width: 22px;
}

.title-search .slide-tags-item {
    height: 28px;
    line-height: 23px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: none;
}


/*box-tacgia*/

.box-tacgia {
    text-align: center;
    margin-bottom: 20px;
}

.box-tacgia img {
    display: block;
    border-radius: 50%;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 2px 2px 5px #ccc;
}

.box-tacgia .btn-yeuthich {
    width: 150px;
    margin-top: 20px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    background: #DC0A09;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-tacgia .btn-yeuthich i {
    margin-top: -2px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}


/*outer-bar-fck-style*/

.outer-bar-fck-style .icon-love-d {
    width: 20px;
    height: 20px;
}

.outer-bar-fck-style .bar li.bar-write {
    margin-left: 40px;
}

.outer-bar-fck-style .bar li.bar-love a {
    color: #a80d0d;
    font-weight: 700;
    font-size: 15px;
}

.outer-bar-fck-style .bar li.bar-write a {
    color: #000;
    font-weight: 700;
    font-size: 15px;
}

.outer-bar-fck-style {
    padding: 5px 10px 15px 10px;
    margin-bottom: 20px;
    border: 0;
    margin-top: 0;
    -webkit-box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    border-radius: 5px;
    background: #fff;
}


/*box-guitin*/

.box-guitin {
    padding: 20px;
    -webkit-box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.45);
    border-radius: 5px;
    margin: 0 0 40px 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.box-guitin .inner {
    width: 100%;
    max-width: 500px;
    padding: 100px 0;
    margin: auto;
    color: #000;
}

.box-guitin .inner h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #101010;
    margin-bottom: 50px;
}

label span.red {
    color: red;
}

.box-guitin form label {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.box-guitin form.frm-general .form-control {
    border-radius: 5px;
}

.box-guitin form .txt-area {
    height: 90px;
    resize: none;
}

.box-guitin form .btn-mail {
    width: 100px;
    text-transform: uppercase;
}


/*guibai*/

.box-success {
    margin: 100px auto;
    width: 750px;
    padding: 20px;
    text-align: center;
    background: #EDEDED;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.box-success h3 {
    font-weight: bold;
    font-size: 18px;
    color: #101010;
    margin: 50px 0 30px 0;
}

.box-success p {
    font-size: 16px;
    line-height: 24px;
    color: #101010;
    margin-bottom: 30px;
}

.box-success p.txt-i {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #938686;
    margin-bottom: 0;
}


/*title-health*/

.page-health .title-icon {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background: #B5127D;
    -webkit-box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.25);
    box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.25);
    border-radius: 5px 5px 0px 0px;
}

.page-health .title-icon h3 {
    margin-top: -15px;
}

.page-health .title-icon span {
    color: #fff;
}

.page-section .col-lg-4 .section.mb-0 {
    height: 100%;
}

.video-4by3 {
    padding-bottom: 75% !important;
}

.section.mb-0 .border-4:last-child {
    display: none;
}

.col-lg-520.mt-4 .box-shadow {
    height: 100%;
}

.art-comic-list,
.art-comic-list .box-shadow {
    height: 100%;
}

.art-comic-list {
    margin-bottom: 0;
}

.section-list-video .art-4,
.section-list-video .art-4 .box-shadow {
    height: 100%;
}

.section-list-video .art-4 {
    margin-bottom: 0;
}

.section-list-video .col-lg-4 {
    margin-bottom: 20px;
}

.thumb.thumb-470x340 .tt-vplayer-content {
    padding-bottom: 75% !important;
}

.section-black .row .col-lg-5 .art-right.art-6:first-child {
    margin-top: 0;
}

.section-comic .row .col-lg-4 {
    margin-bottom: 20px;
}

.figer {
    width: 100%;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.art__thumb-3 {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (225px)[2];
    grid-template-rows: repeat(2, 225px);
    grid-gap: 4px;
}

.art__thumb-3 figure {
    margin: 0;
}

.art__thumb-3.art__thumb-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    overflow: hidden;
    grid-gap: 2px;
}

.art__thumb-3 .art__thumb-item {
    display: block;
    position: relative;
}

.art__thumb-3 .art__thumb-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.art__thumb-3 .art__thumb-item:first-child:nth-last-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.art__thumb-3 .art__thumb-item:first-child:nth-last-child(2),
.art__thumb-3 .art__thumb-item:first-child:nth-last-child(2)~.art__thumb-item {
    grid-column: span 2;
    grid-row: span 1;
}

.art__thumb-3 .art__thumb-item:first-child:nth-last-child(2)~.art__thumb-item img {
    max-height: 225px;
}

.art__thumb-3 .art__thumb-item:first-child:nth-last-child(3) {
    grid-row: span 2;
}

.art__thumb-3 .art__thumb-item:first-child:nth-last-child(3)~.art__thumb-item {
    grid-column: span 1;
    grid-row: span 1;
}

.art__thumb-3 .art__thumb-item:first-child:nth-last-child(3)~.art__thumb-item img {
    max-height: 225px;
}

.art__thumb-3 .art__thumb-item:nth-child(3) span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 27px;
    line-height: 100%;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.art__thumb-3 .art__thumb-item:nth-child(n+4) {
    display: none;
}

.icon--upload {
    width: 32px;
    height: 25px;
    background: url("./../img/icon/upload-to-cloud.png") center/contain no-repeat;
    display: block;
}

.box-video-index {
    padding-bottom: 82% !important;
}

.bar .bar-cate a {
    line-height: 25px;
    height: 25px;
    padding: 0 15px;
    display: inline-block;
    background: #B20505;
    border-radius: 12px;
}

.bar .bar-cate a:hover {
    background-color: #fff;
    color: #B20505;
}

.outer-bar-face {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0;
    margin-top: 15px;
}

.bar li.bar-cate:first-child {
    height: auto;
}

.bar-like-face {
    margin-left: auto;
    text-align: right;
}

.bar-like-face span {
    display: inline-block;
    margin-left: 3px;
}

.block-video h1,
.block-video h2 {
    margin-top: 10px;
}

.slide-tags-1 {
    margin-bottom: 0;
}

.outer-bar.outer-bar-like {
    border-bottom: 0;
}

.comment-tool {
    padding-left: 20px;
}

.outer-reply .time {
    font-size: 11px;
    margin-left: 12px;
    color: rgba(142, 142, 142, 0.8);
}

.more-comment {
    color: #000F91 !important;
}


/*# sourceMappingURL=custom.css.map */