pre {
  font-family: 'Roboto',sans-serif;
  display: inline-block;
  overflow: hidden;
  margin-top: 0;
  white-space: pre-line;
  color: #333;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 22px;
}
.wrapper-comment{
  padding-left: 0;
}
.comment {
  list-style: none;
  display: flex;
  margin-top: 7px;
  margin-bottom: 10px;
  &-avatar{
    width: 36px;
    height: 36px;
    background: black;
    color: $white;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
  }
  &-media{
    flex: 1;
  }
  &-content{
    min-height: 36px;
    background: #F5F5F5;
    border-radius: 18px;
    padding:6px 12px;
  }
  &-name{
    font-weight: 700;
    font-size: 14px;
    color: #041B71;
    display: block;
    margin-right: 5px;
  }
  &-text{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  &-tool{
    margin-left: 12px;
    span{
      display: inline-block;
      margin-right: 7px;
      font-weight: 400;
      font-size: 12px;
      color: #000F91;
      padding: 3px;
      text-decoration: underline;
      &.time{
        text-decoration: none;
        color: #c0c0c0;
      }
    }
  }
  &-box{
    margin-top: 5px;
    display: none;
  }
}
.more-comment{
  font-weight: 500;
  font-size: 11px;
  color: #000F91;
  margin-bottom: 15px;
  display: inline-block;
}
.show-child-comment{
  margin-left: 12px;
  background: url("../img/icon/show-child-comment.png") left center/14px no-repeat ;
  padding-left: 20px;
  font-size: 12px;
  line-height: 9px;
  color: #000F91;
}
.error{
  font-size: 12px;
  color: #e32;
}
.modal .detail-comment{
  textarea {
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 40px ;
    height: 40px ;
    padding: 9px 15px;
    font-size: 14px;
    transition: .2s;
    resize: none;
    &:focus {
      min-height: 90px;
      height: auto;
    }
  }
  input{
    display: inline-block;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 30px ;
    height: 30px ;
    font-size: 14px;
    padding: 9px 15px;
    margin-bottom: 5px;
  }
  &-sticker{
    img{
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}
.form-group .btn-group-sticker{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  .btn-sticker{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/icon/smile 1.png") no-repeat center/30px 30px
  }
}
.btn--comment{
  width: 100px;
  text-align: center;
  color: #fff;
  background: #e32;
  border: 0;
  font-size: 13px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 5px;
  padding: 3px 0;
}
.outer-txtarea {
  position: relative;
}

//sticker
.btn-group-sticker .dropdown-menu {
  width: 270px;
  padding: 0!important;
  will-change: none !important;
}
.slick-sticker span {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
}
.top-sticker {
  padding: 5px;
  border-bottom: solid 1px #eee;
}
.inner-sticker {
  padding: 0 40px;
  position: relative;
}
.inner-sticker .btn-prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}
.inner-sticker .btn-next {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}
.slick-sticker span img {
  display: block;
  width: 35px;
  height: 35px;
  margin: auto;
}
.middle-sticker {
  padding-bottom: 6px;
  min-height: 72px;
  max-height: 288px;
  overflow-y: auto;
}
.list-sticker{
  padding-left: 0!important;
}
.list-sticker li {
  list-style: none;
  width: 100%;
  max-width: 20%;
  float: left;
  padding: 3px;
}
.list-sticker li span {
  display: block;
  cursor: pointer;
}
.list-sticker li span img {
  width: 64px;
  height: 64px;
  max-width: 64px!important;
}
.chosen-ticker img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.overview-comment {
  padding-left: 0;
  .comment-tool{
    display: none;
  }
  .comment .comment{
    display: none;
  }
}
.inner-sticker{
  .btn-next{
    background-image: url("../img/icon/right-arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
    &.disabled{
      opacity: .3;
    }
  }
  .btn-prev{
    background-image: url("../img/icon/left-arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
    &.disabled{
      opacity: .3;
    }
  }
}
.btn-writecomment{
  font-weight: 500;
  font-size: 11px;
  color: #000F91!important;
  margin-bottom: 15px;
  display: inline-block;
}
.comment--term a{
  color: #000000;
}
