.header {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(270.31deg, #7C0202 0.43%, #B90603 52.54%, #D10000 99.65%);

    h1 {
        float: left;
        margin-bottom: 0;
        font-size: 1rem;

        .logo {
            display: block;
            padding: 12.5px 0;
            width: 79px;
        }
    }

    .btn-search {
        float: right;
    }
    .back-to-home{
        display: inline-block;
        padding-left: 25px;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        color: #FFFFFF;
        background-image: url("../img/icon/back.svg");
        background-repeat: no-repeat;
        background-position:left center;
    }
}
header .topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    &-title{
        font-size: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-bottom: 0;
    }
}
.topic-keyword{
    font-weight: 400;
    font-size: 32px;
    a{
        color: $black;
    }
}
.tool-top{
    position: sticky;
    top: 0;
    background: $white;
    z-index: 999;
}
