/*slider-1*/
.slider-1 {margin-right: 40px;margin-top: 28px; }
.slider-1 .slick-list { overflow: visible;}
.slider-1 .slick-arrow { display: none!important;}
/* slider-nav*/
.slider-nav { margin-top:5px;margin-bottom: 30px; }
.slider-nav.slider-nav-top {margin-bottom: 5px; }
.slider-nav .slick-list {padding-bottom: 0 ;padding-top: 8px; }
.slider-nav-top .slick-list { padding-bottom: 8px;padding-top: 0 }
.slider-nav .slick-current.slick-active .art-video-nav:before{ position: absolute; content: "";   border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid $black; left: 50%; top: -7px; z-index: 9; margin-left: -5px; }
.slider-nav .slick-current.slick-active .art-news-nav:before { position: absolute; content: "";   border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid $black; left: 50%; bottom: -7px; z-index: 9; margin-left: -5px; }
.slider-nav .slick-current.slick-active .art-video-nav:after,
.slider-nav .slick-current.slick-active .art-news-nav:after
{ display: none; }
.slider-nav .slick-arrow { display: none!important;}
.slider-author{
  position: relative;
  height: 15px;
  .author_1{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;

  }

}
/*slide-4thumbs*/
.slide-4thumbs { margin-right: 25px; }
.slide-4thumbs .slick-list { overflow: visible;}
.slide-4thumbs .slick-slide .art-right:first-child { border-top: 0; padding-top: 0;}
.slide-4thumbs .slick-dots { bottom: -45px;}
.slide-4thumbs .slick-dots li { width: 110px;}
.slide-4thumbs .slick-dots li button { height: 5px; width: 100%; background: #f0eceb; padding: 0; }
.slide-4thumbs .slick-dots li button:before { content: "";}
.slide-4thumbs .slick-dots li.slick-active button { background: #c4c4c4;}
.slide-4thumbs .slick-arrow { display: none!important;}

.slide-authors{
  margin-top: 15px;
  &-item{
    margin:0 7px;
    width: 85px;
    img{
      width: 85px;
      height: 85px;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    h6{
      font-weight: 700;
      margin-top: 5px;
      line-height: 18px;
      height: 36px;
      overflow: hidden;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
      color: $black;
    }
  }
}
.slide-tags{
  margin: 11px 0;
  padding-left: 0;
  overflow: hidden;
  &-item{
    padding: 5px ;
    margin-right: 20px;
    height: 40px;
    color: #8A0101;
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
    }
    a{
      padding: 0 10px;
      color: #8A0101;
      &:before{
        content: "#";
      }
    }
    font-weight: 500;
    font-size: 18px;
    background: #E7E7E7;
    border-radius: 30px;
    display: inline-block;
  }

}
.slide-comic-chap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  span{
    width: 35px;
    margin: 0 15px;
    height: 35px;
    background-color: #6A0303;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    &.disabled{
      opacity: .4;
    }
    &.btn-comic-next{
       background-image: url("../img/comic/next 2.png");
     }
    &.btn-comic-prev{
      background-image: url("../img/comic/back 2.png");
    }
  }
  strong{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    &::before{
      
    }
  }
}
.slide-comment-container{
  position: relative;
  .slide-comment-control{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    span{
      width: 30px;
      height: 30px;
      background-color: rgba(0,0,0,.5);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      &.slick-disabled{
        opacity: .4;
      }
      &.comic-comment-next{
        background-image: url("../img/comic/next 2.png");
      }
      &.comic-comment-prev{
        background-image: url("../img/comic/back 2.png");
      }
    }
  }
}

.slider-for .slick-slide img{
  width: 100%;
}
.slick-sticker{
  display: flex;
  overflow: auto;
}
.slick-track.disabled{
  transform: none!important;
}